In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('C:/Users/sopo9/Downloads/SBJ_2102_001/3.세종시_아파트(매매)_실거래가.csv')

### 아파트 계약년월일 기준 오름차순

In [3]:
#읍면동 구분하는 함수
def sort_dong(df):
    a=df.split(" ")
    if a[1][-1]=='동':
        return '동'
    elif a[1][-1]=='면':
        return '면'
    else :
        return '읍'
data['읍면동구분']=data['시군구'].apply(sort_dong)

In [4]:
#동 구분하는 함수
def sort_dong2(df):
    a=df.split(" ")
    return a[1]
data['읍면동']=data['시군구'].apply(sort_dong2)

In [5]:
data['읍면동'].unique()

array(['고운동', '금남면', '나성동', '도담동', '보람동', '부강면', '소담동', '아름동', '어진동',
       '연동면', '연서면', '장군면', '전동면', '전의면', '조치원읍', '종촌동', '한솔동', '소정면',
       '새롬동', '다정동', '대평동', '반곡동', '가람동'], dtype=object)

In [80]:
data.groupby('읍면동').count()

,계약년월,계약일,시군구,본번,부번,단지명,전용면적(㎡),거래금액(만원),층,건축년도,해제사유발생일,읍면동구분,평
읍면동,,,,,,,,,,,,,
가람동,1,1,1,1,1,1,1,1,1,1,0,1,1
고운동,1984,1984,1984,1984,1984,1984,1984,1984,1984,1984,55,1984,1984
금남면,432,432,432,432,432,432,432,432,432,432,12,432,432
나성동,290,290,290,290,290,290,290,290,290,290,10,290,290
다정동,592,592,592,592,592,592,592,592,592,592,27,592,592
대평동,167,167,167,167,167,167,167,167,167,167,8,167,167
도담동,1589,1589,1589,1589,1589,1589,1589,1589,1589,1589,45,1589,1589
반곡동,103,103,103,103,103,103,103,103,103,103,8,103,103
보람동,380,380,380,380,380,380,380,380,380,380,32,380,380
부강면,93,93,93,93,93,93,93,93,93,93,2,93,93
새롬동,634,634,634,634,634,634,634,634,634,634,25,634,634
소담동,577,577,577,577,577,577,577,577,577,577,30,577,577
소정면,21,21,21,21,21,21,21,21,21,21,0,21,21
아름동,2329,2329,2329,2329,2329,2329,2329,2329,2329,2329,30,2329,2329
어진동,422,422,422,422,422,422,422,422,422,422,12,422,422
연동면,178,178,178,178,178,178,178,178,178,178,6,178,178
연서면,129,129,129,129,129,129,129,129,129,129,6,129,129
장군면,71,71,71,71,71,71,71,71,71,71,0,71,71
전동면,21,21,21,21,21,21,21,21,21,21,0,21,21
전의면,104,104,104,104,104,104,104,104,104,104,2,104,104
조치원읍,3583,3583,3583,3583,3583,3583,3583,3583,3583,3583,106,3583,3583
종촌동,2790,2790,2790,2790,2790,2790,2790,2790,2790,2790,46,2790,2790
한솔동,1919,1919,1919,1919,1919,1919,1919,1919,1919,1919,28,1919,1919

In [103]:
def riri(df):
    return int(float(df.replace(',','')))
data['거래금액(만원)'] =data['거래금액(만원)'].apply(riri)

In [104]:
data.groupby('읍면동').mean()

,계약년월,계약일,부번,전용면적(㎡),거래금액(만원),층,건축년도,해제사유발생일
읍면동,,,,,,,,
가람동,202006.000000,12.000000,0.000000,59.933100,54000.000000,5.000000,2017.000000,NaN
고운동,201894.597782,15.607359,0.000000,75.812906,34431.779738,10.310988,2015.162298,2.020095e+07
금남면,201852.902778,15.502315,0.000000,52.873269,13959.120370,7.951389,2001.199074,2.020069e+07
나성동,201890.462069,15.962069,0.000000,27.205074,10585.482759,5.682759,2015.096552,2.020077e+07
다정동,201980.471284,16.170608,0.000000,81.698369,62177.157095,9.966216,2018.030405,2.020112e+07
대평동,201965.556886,15.988024,1.149701,84.745504,73175.011976,10.574850,2017.778443,2.020199e+07
도담동,201870.839522,15.285714,0.000000,74.161839,44911.933291,10.904342,2014.454374,2.020077e+07
반곡동,202004.854369,15.563107,2.640777,77.063544,57494.951456,8.067961,2019.000000,2.020212e+07
보람동,201963.273684,15.668421,0.165789,84.261626,65879.284211,10.589474,2016.876316,2.020116e+07
부강면,201867.817204,15.903226,14.774194,58.348387,7851.290323,6.161290,1995.688172,2.020101e+07
새롬동,201965.313880,15.990536,0.000000,80.992821,66054.370662,10.195584,2017.012618,2.020073e+07
소담동,201937.642981,15.525130,1.788562,79.421503,56853.738302,11.202773,2016.630849,2.020076e+07
소정면,201835.428571,17.523810,1.000000,60.480476,6392.857143,6.571429,1996.000000,NaN
아름동,201836.245599,12.920996,0.000000,85.020698,35044.949764,11.605410,2014.248175,2.020140e+07
어진동,201873.680095,15.530806,0.000000,59.810456,39625.319905,8.016588,2013.462085,2.020075e+07
연동면,201890.601124,15.685393,0.000000,46.472096,6625.719101,4.921348,2001.000000,2.020099e+07
연서면,201874.488372,15.558140,0.000000,70.738062,11966.279070,5.387597,2002.000000,2.020086e+07
장군면,201791.309859,17.267606,0.732394,28.805141,2771.408451,2.633803,2001.464789,NaN
전동면,201852.904762,15.714286,0.000000,49.380000,5652.380952,2.142857,1994.000000,NaN
전의면,201853.538462,15.000000,12.038462,56.668365,7903.365385,4.807692,1996.730769,2.020067e+07
조치원읍,201879.395200,15.547028,0.420318,82.511428,16970.891432,7.861848,2002.753558,2.020072e+07
종촌동,201859.813620,16.105376,0.000000,80.286730,39196.429032,12.029032,2014.288889,2.020098e+07
한솔동,201854.961959,15.495571,0.000000,90.959136,40881.186555,10.190724,2011.675873,2.020076e+07

In [81]:
data.groupby('읍면동구분').count()

,계약년월,계약일,시군구,본번,부번,단지명,전용면적(㎡),거래금액(만원),층,건축년도,해제사유발생일,읍면동,평
읍면동구분,,,,,,,,,,,,,
동,13777,13777,13777,13777,13777,13777,13777,13777,13777,13777,356,13777,13777
면,1049,1049,1049,1049,1049,1049,1049,1049,1049,1049,28,1049,1049
읍,3583,3583,3583,3583,3583,3583,3583,3583,3583,3583,106,3583,3583

In [105]:
data.groupby('읍면동구분').mean()

,계약년월,계약일,부번,전용면적(㎡),거래금액(만원),층,건축년도,해제사유발생일
읍면동구분,,,,,,,,
동,201881.034115,15.250635,0.113160,79.673347,42361.936561,10.772665,2014.587864,2.020099e+07
면,201858.820782,15.690181,2.572927,53.298990,10252.819828,6.147760,2000.102002,2.020082e+07
읍,201879.395200,15.547028,0.420318,82.511428,16970.891432,7.861848,2002.753558,2.020072e+07

In [7]:
sort_data=data.sort_values(by=['계약년월','계약일'])
sort_data

,계약년월,계약일,시군구,본번,부번,단지명,전용면적(㎡),거래금액(만원),층,건축년도,해제사유발생일,읍면동구분,읍면동
55,201701,1,세종특별자치시 보람동,743,0,스타힐타워Ⅰ,16.9849,"8,600",7,2016,NaN,동,보람동
200,201701,1,세종특별자치시 종촌동,683,0,가재마을2단지,59.8652,"27,300",7,2014,NaN,동,종촌동
1,201701,2,세종특별자치시 고운동,1393,0,가락마을15단지(중흥파크뷰),84.9894,"32,000",3,2015,NaN,동,고운동
10,201701,2,세종특별자치시 고운동,1706,0,가락마을8단지(고운뜰아파트),84.9800,"30,500",20,2015,NaN,동,고운동
76,201701,2,세종특별자치시 아름동,1284,0,범지기마을7단지 호반에코시티,84.9280,"31,300",6,2014,NaN,동,아름동
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18298,202010,31,세종특별자치시 연동면 명학리,255,0,다산청정,31.7580,"4,700",1,2001,NaN,면,연동면
18342,202010,31,세종특별자치시 조치원읍 신안리,244,1,조형,58.3500,"7,950",5,1991,NaN,읍,조치원읍
18368,202010,31,세종특별자치시 조치원읍 죽림리,396,0,조치원죽림자이,84.6641,"29,000",2,2008,NaN,읍,조치원읍
18377,202010,31,세종특별자치시 조치원읍 침산리,89,0,욱일아파트,59.9990,"17,600",6,1996,NaN,읍,조치원읍
18404,202010,31,세종특별자치시 한솔동,1226,0,첫마을4단지(대우푸르지오),84.7000,"66,800",18,2012,NaN,동,한솔동

In [ ]:
sort_data['읍면동']

### 아파트 전용면적 별 거래 수

In [8]:
sort_data['전용면적(㎡)'] =sort_data['전용면적(㎡)'].astype(int)
sort_data_g=sort_data.groupby(by=['전용면적(㎡)'], as_index=False).count()
sort_data_g.sort_values(by='계약년월',ascending=False)[:10]

,전용면적(㎡),계약년월,계약일,시군구,본번,부번,단지명,거래금액(만원),층,건축년도,해제사유발생일,읍면동구분,읍면동
57,84,7880,7880,7880,7880,7880,7880,7880,7880,7880,172,7880,7880
38,59,3729,3729,3729,3729,3729,3729,3729,3729,3729,114,3729,3729
49,74,608,608,608,608,608,608,608,608,608,8,608,608
63,99,417,417,417,417,417,417,417,417,417,12,417,417
77,114,354,354,354,354,354,354,354,354,354,2,354,354
65,101,329,329,329,329,329,329,329,329,329,13,329,329
27,43,300,300,300,300,300,300,300,300,300,5,300,300
60,96,270,270,270,270,270,270,270,270,270,7,270,270
32,49,265,265,265,265,265,265,265,265,265,3,265,265
24,39,256,256,256,256,256,256,256,256,256,14,256,256

### 아파트 금액별 거래 수(제일 잘 팔리는 금액대)

In [ ]:
sort_data_m=sort_data.groupby(by=['거래금액(만원)'], as_index=False).count()
sort_data_m.sort_values(by='계약년월',ascending=False)

In [ ]:
maxpr=np.max(sort_data['거래금액(만원)'])
maxpr

In [ ]:
minpr=np.min(sort_data['거래금액(만원)'])
minpr

In [ ]:
sort_data[sort_data['거래금액(만원)']==maxpr]

In [ ]:
sort_data[sort_data['거래금액(만원)']==minpr]

In [9]:
def pyeong(df):
    if df< 33:
        return '10평 미만'
    elif df>= 33 and df < 66:
        return '10~20평'
    elif df>= 66 and df < 99:
        return '20~30평'
    elif df>= 99 and df < 132:
        return '30~40평'
    elif df>= 132 and df < 165:
        return '40~50평'
    elif df>= 165 and df < 198:
        return '50~60평'
    else:
        return '60평 이상'

In [10]:
data["평"]=data["전용면적(㎡)"].apply(pyeong)
data

,계약년월,계약일,시군구,본번,부번,단지명,전용면적(㎡),거래금액(만원),층,건축년도,해제사유발생일,읍면동구분,읍면동,평
0,201701,19,세종특별자치시 고운동,1401,0,가락마을13단지(대광로제비앙),59.6550,"23,000",11,2015,NaN,동,고운동,10~20평
1,201701,2,세종특별자치시 고운동,1393,0,가락마을15단지(중흥파크뷰),84.9894,"32,000",3,2015,NaN,동,고운동,20~30평
2,201701,14,세종특별자치시 고운동,1395,0,가락마을16단지(에듀그린),84.8788,"32,500",21,2015,NaN,동,고운동,20~30평
3,201701,9,세종특별자치시 고운동,1386,0,가락마을17단지(골드클래스),59.9159,"25,100",7,2015,NaN,동,고운동,10~20평
4,201701,9,세종특별자치시 고운동,1390,0,가락마을21단지(에듀포레),99.9434,"32,250",3,2015,NaN,동,고운동,30~40평
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18404,202010,31,세종특별자치시 한솔동,1226,0,첫마을4단지(대우푸르지오),84.7000,"66,800",18,2012,NaN,동,한솔동,20~30평
18405,202010,15,세종특별자치시 한솔동,971,0,첫마을5단지(푸르지오),114.1600,"40,000",4,2012,NaN,동,한솔동,30~40평
18406,202010,25,세종특별자치시 한솔동,971,0,첫마을5단지(푸르지오),149.8000,"134,000",13,2012,NaN,동,한솔동,40~50평
18407,202010,9,세종특별자치시 한솔동,974,0,첫마을6단지(힐스테이트),84.1100,"72,800",16,2012,NaN,동,한솔동,20~30평
18408,202010,17,세종특별자치시 한솔동,974,0,첫마을6단지(힐스테이트),84.1200,"74,800",15,2012,NaN,동,한솔동,20~30평

In [47]:
data.groupby('평').count()

,계약년월,계약일,시군구,본번,부번,단지명,전용면적(㎡),거래금액(만원),층,건축년도,해제사유발생일,읍면동구분,읍면동
평,,,,,,,,,,,,,
10~20평,4916,4916,4916,4916,4916,4916,4916,4916,4916,4916,153,4916,4916
10평 미만,831,831,831,831,831,831,831,831,831,831,21,831,831
20~30평,9792,9792,9792,9792,9792,9792,9792,9792,9792,9792,222,9792,9792
30~40평,2702,2702,2702,2702,2702,2702,2702,2702,2702,2702,84,2702,2702
40~50평,156,156,156,156,156,156,156,156,156,156,10,156,156
50~60평,12,12,12,12,12,12,12,12,12,12,0,12,12

### 연립 다주택

In [44]:
yata = pd.read_csv('C:/Users/sopo9/Downloads/SBJ_2102_001/4.세종시_연립다세대(매매)_실거래가.csv')
yata["평"]=yata["전용면적(㎡)"].apply(pyeong)
yata

,계약년월,계약일,시군구,본번,부번,건물명,전용면적(㎡),대지권면적(㎡),거래금액(만원),층,건축년도,해제사유발생일,평
0,201701,18,세종특별자치시 전의면 관정리,262,6,홍성맨션3차,53.965,77.15,"4,300",4,2002,NaN,10~20평
1,201701,26,세종특별자치시 조치원읍 서창리,140,11,삼현빌라,48.530,37.30,"4,000",2,1989,NaN,10~20평
2,201701,3,세종특별자치시 조치원읍 원리,132,7,고려1동,62.080,36.31,"4,700",2,1983,NaN,10~20평
3,201701,13,세종특별자치시 조치원읍 침산리,167,6,용성빌라,64.230,42.25,"6,500",2,1991,NaN,10~20평
4,201702,1,세종특별자치시 조치원읍 신흥리,106,0,주공연립,67.900,133.43,"12,800",1,1984,NaN,20~30평
...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,202010,14,세종특별자치시 조치원읍 신흥리,24,3,신흥연립,70.420,39.26,"5,000",2,1982,NaN,20~30평
542,202010,8,세종특별자치시 조치원읍 신흥리,106,0,주공연립,55.350,108.78,"20,700",3,1984,NaN,10~20평
543,202010,20,세종특별자치시 조치원읍 신흥리,106,0,주공연립,57.510,113.04,"22,500",3,1984,NaN,10~20평
544,202010,22,세종특별자치시 조치원읍 침산리,148,3,고려,76.320,53.75,"9,800",1,1986,NaN,20~30평
545,202010,18,세종특별자치시 조치원읍 침산리,147,4,고려(2),76.320,61.34,"12,000",3,1986,NaN,20~30평

In [83]:
yata['읍면동구분']=yata['시군구'].apply(sort_dong)
yata['읍면동']=yata['시군구'].apply(sort_dong2)

In [84]:
yata.groupby('읍면동').count()

,계약년월,계약일,시군구,본번,부번,건물명,전용면적(㎡),대지권면적(㎡),거래금액(만원),층,건축년도,해제사유발생일,평,읍면동구분
읍면동,,,,,,,,,,,,,,
금남면,20,20,20,20,20,20,20,20,20,20,20,0,20,20
도담동,6,6,6,6,6,6,6,6,6,6,6,0,6,6
반곡동,18,18,18,18,18,18,18,18,18,18,18,1,18,18
보람동,9,9,9,9,9,9,9,9,9,9,9,0,9,9
부강면,67,67,67,67,67,67,67,67,67,67,67,0,67,67
소담동,5,5,5,5,5,5,5,5,5,5,5,0,5,5
소정면,3,3,3,3,3,3,3,3,3,3,3,0,3,3
연기면,37,37,37,37,37,37,37,37,37,37,37,0,37,37
연서면,12,12,12,12,12,12,12,12,12,12,12,0,12,12
장군면,6,6,6,6,6,6,6,6,6,6,6,0,6,6
전동면,3,3,3,3,3,3,3,3,3,3,3,0,3,3
전의면,30,30,30,30,30,30,30,30,30,30,30,0,30,30
조치원읍,330,330,330,330,330,330,330,330,330,330,330,1,330,330

In [85]:
yata.groupby('읍면동구분').count()

,계약년월,계약일,시군구,본번,부번,건물명,전용면적(㎡),대지권면적(㎡),거래금액(만원),층,건축년도,해제사유발생일,평,읍면동
읍면동구분,,,,,,,,,,,,,,
동,38,38,38,38,38,38,38,38,38,38,38,1,38,38
면,178,178,178,178,178,178,178,178,178,178,178,0,178,178
읍,330,330,330,330,330,330,330,330,330,330,330,1,330,330

In [45]:
yata.groupby('평').count()

,계약년월,계약일,시군구,본번,부번,건물명,전용면적(㎡),대지권면적(㎡),거래금액(만원),층,건축년도,해제사유발생일
평,,,,,,,,,,,,
10~20평,224,224,224,224,224,224,224,224,224,224,224,1
10평 미만,223,223,223,223,223,223,223,223,223,223,223,0
20~30평,98,98,98,98,98,98,98,98,98,98,98,1
30~40평,1,1,1,1,1,1,1,1,1,1,1,0

In [46]:
yata.groupby('시군구').count()

,계약년월,계약일,본번,부번,건물명,전용면적(㎡),대지권면적(㎡),거래금액(만원),층,건축년도,해제사유발생일,평
시군구,,,,,,,,,,,,
세종특별자치시 금남면 도남리,7,7,7,7,7,7,7,7,7,7,0,7
세종특별자치시 금남면 용포리,13,13,13,13,13,13,13,13,13,13,0,13
세종특별자치시 도담동,6,6,6,6,6,6,6,6,6,6,0,6
세종특별자치시 반곡동,18,18,18,18,18,18,18,18,18,18,1,18
세종특별자치시 보람동,9,9,9,9,9,9,9,9,9,9,0,9
세종특별자치시 부강면 문곡리,24,24,24,24,24,24,24,24,24,24,0,24
세종특별자치시 부강면 부강리,43,43,43,43,43,43,43,43,43,43,0,43
세종특별자치시 소담동,5,5,5,5,5,5,5,5,5,5,0,5
세종특별자치시 소정면 대곡리,2,2,2,2,2,2,2,2,2,2,0,2
세종특별자치시 소정면 소정리,1,1,1,1,1,1,1,1,1,1,0,1
세종특별자치시 연기면 보통리,14,14,14,14,14,14,14,14,14,14,0,14
세종특별자치시 연기면 연기리,23,23,23,23,23,23,23,23,23,23,0,23
세종특별자치시 연서면 봉암리,5,5,5,5,5,5,5,5,5,5,0,5
세종특별자치시 연서면 월하리,7,7,7,7,7,7,7,7,7,7,0,7
세종특별자치시 장군면 도계리,6,6,6,6,6,6,6,6,6,6,0,6
세종특별자치시 전동면 노장리,3,3,3,3,3,3,3,3,3,3,0,3
세종특별자치시 전의면 관정리,25,25,25,25,25,25,25,25,25,25,0,25
세종특별자치시 전의면 동교리,4,4,4,4,4,4,4,4,4,4,0,4
세종특별자치시 전의면 읍내리,1,1,1,1,1,1,1,1,1,1,0,1
세종특별자치시 조치원읍 교리,11,11,11,11,11,11,11,11,11,11,0,11
세종특별자치시 조치원읍 남리,19,19,19,19,19,19,19,19,19,19,0,19
세종특별자치시 조치원읍 명리,5,5,5,5,5,5,5,5,5,5,0,5
세종특별자치시 조치원읍 번암리,1,1,1,1,1,1,1,1,1,1,0,1
세종특별자치시 조치원읍 봉산리,6,6,6,6,6,6,6,6,6,6,0,6
세종특별자치시 조치원읍 상리,2,2,2,2,2,2,2,2,2,2,0,2
세종특별자치시 조치원읍 서창리,47,47,47,47,47,47,47,47,47,47,0,47
세종특별자치시 조치원읍 신안리,31,31,31,31,31,31,31,31,31,31,0,31
세종특별자치시 조치원읍 신흥리,53,53,53,53,53,53,53,53,53,53,1,53
세종특별자치시 조치원읍 원리,15,15,15,15,15,15,15,15,15,15,0,15
세종특별자치시 조치원읍 정리,111,111,111,111,111,111,111,111,111,111,0,111
세종특별자치시 조치원읍 죽림리,11,11,11,11,11,11,11,11,11,11,0,11
세종특별자치시 조치원읍 침산리,16,16,16,16,16,16,16,16,16,16,0,16
세종특별자치시 조치원읍 평리,2,2,2,2,2,2,2,2,2,2,0,2

In [ ]:
yata.isnull().sum()

### 단독다가구 - 전용면적 없음

In [48]:
danta = pd.read_csv('C:/Users/sopo9/Downloads/SBJ_2102_001/5.세종시_단독다가구(매매)_실거래가.csv')
danta["평"]=danta["연면적(㎡)"].apply(pyeong)
danta

,계약년월,계약일,시군구,주택유형,도로조건,연면적(㎡),대지면적(㎡),거래금액(만원),건축년도,해제사유발생일,평
0,201701,10,세종특별자치시 금남면 성덕리,단독,8m미만,56.20,354.0,"11,000",1934.0,NaN,10~20평
1,201701,6,세종특별자치시 금남면 용담리,단독,8m미만,95.76,537.0,"26,000",1977.0,NaN,20~30평
2,201701,10,세종특별자치시 부강면 부강리,단독,12m미만,659.57,320.0,"112,000",2013.0,NaN,60평 이상
3,201701,9,세종특별자치시 연기면 보통리,단독,25m미만,307.24,660.0,"135,000",2004.0,NaN,60평 이상
4,201701,13,세종특별자치시 연기면 수산리,단독,12m미만,100.00,570.0,"33,000",1987.0,NaN,30~40평
...,...,...,...,...,...,...,...,...,...,...,...
1050,202010,16,세종특별자치시 조치원읍 명리,단독,12m미만,79.43,188.0,"24,700",1975.0,NaN,20~30평
1051,202010,20,세종특별자치시 조치원읍 상리,단독,8m미만,171.97,126.0,"31,476",1996.0,NaN,50~60평
1052,202010,26,세종특별자치시 조치원읍 신안리,다가구,12m미만,378.81,263.0,"49,000",1999.0,NaN,60평 이상
1053,202010,15,세종특별자치시 조치원읍 죽림리,단독,8m미만,98.73,167.0,"23,000",1979.0,NaN,20~30평
1054,202010,29,세종특별자치시 조치원읍 평리,단독,8m미만,141.30,159.0,"13,000",1985.0,NaN,40~50평

In [86]:
danta['읍면동구분']=danta['시군구'].apply(sort_dong)
danta['읍면동']=danta['시군구'].apply(sort_dong2)

In [87]:
danta.groupby('읍면동').count()

,계약년월,계약일,시군구,주택유형,도로조건,연면적(㎡),대지면적(㎡),거래금액(만원),건축년도,해제사유발생일,평,도로,시군구2,주택유형2,거래금액2(만원),읍면동구분
읍면동,,,,,,,,,,,,,,,,
고운동,5,5,5,5,5,5,5,5,5,0,5,5,5,5,5,5
금남면,132,132,132,132,132,132,132,132,132,6,132,132,132,132,132,132
도담동,2,2,2,2,2,2,2,2,2,1,2,2,2,2,2,2
부강면,70,70,70,70,70,70,70,70,70,3,70,70,70,70,70,70
새롬동,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1
소정면,27,27,27,27,27,27,27,27,27,0,27,27,27,27,27,27
아름동,2,2,2,2,2,2,2,2,2,0,2,2,2,2,2,2
연기면,68,68,68,68,68,68,68,68,68,5,68,68,68,68,68,68
연동면,31,31,31,31,31,31,31,31,31,1,31,31,31,31,31,31
연서면,132,132,132,132,132,132,132,132,132,1,132,132,132,132,132,132
장군면,142,142,142,142,142,142,142,142,142,8,142,142,142,142,142,142
전동면,47,47,47,47,47,47,47,47,47,1,47,47,47,47,47,47
전의면,70,70,70,70,70,70,70,70,70,2,70,70,70,70,70,70
조치원읍,325,325,325,325,325,325,325,325,325,7,325,325,325,325,325,325
한솔동,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1

In [88]:
danta.groupby('읍면동구분').count()

,계약년월,계약일,시군구,주택유형,도로조건,연면적(㎡),대지면적(㎡),거래금액(만원),건축년도,해제사유발생일,평,도로,시군구2,주택유형2,거래금액2(만원),읍면동
읍면동구분,,,,,,,,,,,,,,,,
동,11,11,11,11,11,11,11,11,11,1,11,11,11,11,11,11
면,719,719,719,719,719,719,719,719,719,27,719,719,719,719,719,719
읍,325,325,325,325,325,325,325,325,325,7,325,325,325,325,325,325

In [49]:
danta.groupby('평').count()

        계약년월  계약일  시군구  주택유형  도로조건  연면적(㎡)  대지면적(㎡)  거래금액(만원)  건축년도  해제사유발생일
평
10~20평   149  149  149   149   149     149      149       149   147        4
10평 미만    18   18   18    18    18      18       18        18    18        0
20~30평   311  311  311   311   311     311      311       311   310        8
30~40평   143  143  143   143   143     143      143       143   142        5
40~50평    98   98   98    98    98      98       98        98    98        3
50~60평    55   55   55    55    55      55       55        55    54        4
60평 이상   281  281  281   281   281     281      281       281   277       11

In [50]:
danta.isnull().sum()

계약년월           0
계약일            0
시군구            0
주택유형           0
도로조건           0
연면적(㎡)         0
대지면적(㎡)        0
거래금액(만원)       0
건축년도           9
해제사유발생일     1020
평              0
dtype: int64

In [51]:
def rep(df):
    if df == '-':
        return 0
    elif df.find('m이상') != -1:
        return df.replace('m이상','')
    else:
        return df.replace('m미만','')

In [52]:
danta["도로"]=danta["도로조건"].apply(rep)
danta

,계약년월,계약일,시군구,주택유형,도로조건,연면적(㎡),대지면적(㎡),거래금액(만원),건축년도,해제사유발생일,평,도로
0,201701,10,세종특별자치시 금남면 성덕리,단독,8m미만,56.20,354.0,"11,000",1934.0,NaN,10~20평,8
1,201701,6,세종특별자치시 금남면 용담리,단독,8m미만,95.76,537.0,"26,000",1977.0,NaN,20~30평,8
2,201701,10,세종특별자치시 부강면 부강리,단독,12m미만,659.57,320.0,"112,000",2013.0,NaN,60평 이상,12
3,201701,9,세종특별자치시 연기면 보통리,단독,25m미만,307.24,660.0,"135,000",2004.0,NaN,60평 이상,25
4,201701,13,세종특별자치시 연기면 수산리,단독,12m미만,100.00,570.0,"33,000",1987.0,NaN,30~40평,12
...,...,...,...,...,...,...,...,...,...,...,...,...
1050,202010,16,세종특별자치시 조치원읍 명리,단독,12m미만,79.43,188.0,"24,700",1975.0,NaN,20~30평,12
1051,202010,20,세종특별자치시 조치원읍 상리,단독,8m미만,171.97,126.0,"31,476",1996.0,NaN,50~60평,8
1052,202010,26,세종특별자치시 조치원읍 신안리,다가구,12m미만,378.81,263.0,"49,000",1999.0,NaN,60평 이상,12
1053,202010,15,세종특별자치시 조치원읍 죽림리,단독,8m미만,98.73,167.0,"23,000",1979.0,NaN,20~30평,8
1054,202010,29,세종특별자치시 조치원읍 평리,단독,8m미만,141.30,159.0,"13,000",1985.0,NaN,40~50평,8

In [53]:
def riri(df):
    return int(float(df.replace(',','')))

In [54]:
from sklearn.preprocessing import LabelEncoder
labelencoder_x= LabelEncoder()
y = danta["시군구"]
danta["시군구2"]=labelencoder_x.fit_transform(y)
z = danta["주택유형"]
danta["주택유형2"]=labelencoder_x.fit_transform(z)
danta['거래금액2(만원)']= danta['거래금액(만원)'].apply(riri)

In [55]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()

In [56]:
danta_null=danta[danta['건축년도'].isnull()]
danta_null

,계약년월,계약일,시군구,주택유형,도로조건,연면적(㎡),대지면적(㎡),거래금액(만원),건축년도,해제사유발생일,평,도로,시군구2,주택유형2,거래금액2(만원)
30,201702,18,세종특별자치시 연서면 국촌리,단독,8m미만,104.60,304.0,"7,000",NaN,NaN,30~40평,8,53,1,7000
44,201702,26,세종특별자치시 조치원읍 신흥리,단독,8m미만,41.31,152.0,"2,000",NaN,NaN,10~20평,8,106,1,2000
70,201703,15,세종특별자치시 전동면 심중리,단독,8m미만,61.16,347.0,"12,353",NaN,NaN,10~20평,8,83,1,12353
274,201711,20,세종특별자치시 장군면 금암리,단독,8m미만,88.45,567.0,"27,400",NaN,NaN,20~30평,8,65,1,27400
818,202003,18,세종특별자치시 장군면 금암리,단독,8m미만,185.92,1104.0,"90,000",NaN,20200519.0,50~60평,8,65,1,90000
1013,202009,24,세종특별자치시 연기면 보통리,다가구,8m미만,493.86,505.0,"90,000",NaN,20201015.0,60평 이상,8,42,0,90000
1015,202009,24,세종특별자치시 연기면 보통리,다가구,8m미만,493.86,532.0,"90,000",NaN,20201015.0,60평 이상,8,42,0,90000
1016,202009,24,세종특별자치시 연기면 보통리,다가구,8m미만,493.86,595.2,"90,000",NaN,20201015.0,60평 이상,8,42,0,90000
1017,202009,24,세종특별자치시 연기면 보통리,다가구,8m미만,493.86,619.8,"90,000",NaN,20201015.0,60평 이상,8,42,0,90000

In [57]:
#null 값이 아닌 것만 뽑아오기
idx_not=danta[danta['건축년도'].isnull()].index
danta_notnull=danta.drop(idx_not)
danta_notnull

,계약년월,계약일,시군구,주택유형,도로조건,연면적(㎡),대지면적(㎡),거래금액(만원),건축년도,해제사유발생일,평,도로,시군구2,주택유형2,거래금액2(만원)
0,201701,10,세종특별자치시 금남면 성덕리,단독,8m미만,56.20,354.0,"11,000",1934.0,NaN,10~20평,8,15,1,11000
1,201701,6,세종특별자치시 금남면 용담리,단독,8m미만,95.76,537.0,"26,000",1977.0,NaN,20~30평,8,20,1,26000
2,201701,10,세종특별자치시 부강면 부강리,단독,12m미만,659.57,320.0,"112,000",2013.0,NaN,60평 이상,12,33,1,112000
3,201701,9,세종특별자치시 연기면 보통리,단독,25m미만,307.24,660.0,"135,000",2004.0,NaN,60평 이상,25,42,1,135000
4,201701,13,세종특별자치시 연기면 수산리,단독,12m미만,100.00,570.0,"33,000",1987.0,NaN,30~40평,12,43,1,33000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1050,202010,16,세종특별자치시 조치원읍 명리,단독,12m미만,79.43,188.0,"24,700",1975.0,NaN,20~30평,12,100,1,24700
1051,202010,20,세종특별자치시 조치원읍 상리,단독,8m미만,171.97,126.0,"31,476",1996.0,NaN,50~60평,8,103,1,31476
1052,202010,26,세종특별자치시 조치원읍 신안리,다가구,12m미만,378.81,263.0,"49,000",1999.0,NaN,60평 이상,12,105,0,49000
1053,202010,15,세종특별자치시 조치원읍 죽림리,단독,8m미만,98.73,167.0,"23,000",1979.0,NaN,20~30평,8,109,1,23000
1054,202010,29,세종특별자치시 조치원읍 평리,단독,8m미만,141.30,159.0,"13,000",1985.0,NaN,40~50평,8,111,1,13000

In [58]:
X = danta_notnull[["계약년월","연면적(㎡)","대지면적(㎡)","거래금액2(만원)","도로","시군구2","주택유형2"]]
y = danta_notnull['건축년도']

In [59]:
lm.fit(X,y)

LinearRegression()

In [60]:
X2 = danta_null[["계약년월","연면적(㎡)","대지면적(㎡)","거래금액2(만원)","도로","시군구2","주택유형2"]]

In [61]:
predictions = lm.predict(X2)
print(predictions)

[1985.44957982 1979.09593051 1982.46228245 1986.33982176 1998.09580227
 2013.01184105 2013.0641091  2013.18645506 2013.23407706]

In [63]:
#적용 완료
for i in range(len(danta_null.index)):
    danta.loc[ danta_null.index[i] , "건축년도" ]=int(predictions[i])

In [64]:
danta

,계약년월,계약일,시군구,주택유형,도로조건,연면적(㎡),대지면적(㎡),거래금액(만원),건축년도,해제사유발생일,평,도로,시군구2,주택유형2,거래금액2(만원)
0,201701,10,세종특별자치시 금남면 성덕리,단독,8m미만,56.20,354.0,"11,000",1934.0,NaN,10~20평,8,15,1,11000
1,201701,6,세종특별자치시 금남면 용담리,단독,8m미만,95.76,537.0,"26,000",1977.0,NaN,20~30평,8,20,1,26000
2,201701,10,세종특별자치시 부강면 부강리,단독,12m미만,659.57,320.0,"112,000",2013.0,NaN,60평 이상,12,33,1,112000
3,201701,9,세종특별자치시 연기면 보통리,단독,25m미만,307.24,660.0,"135,000",2004.0,NaN,60평 이상,25,42,1,135000
4,201701,13,세종특별자치시 연기면 수산리,단독,12m미만,100.00,570.0,"33,000",1987.0,NaN,30~40평,12,43,1,33000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1050,202010,16,세종특별자치시 조치원읍 명리,단독,12m미만,79.43,188.0,"24,700",1975.0,NaN,20~30평,12,100,1,24700
1051,202010,20,세종특별자치시 조치원읍 상리,단독,8m미만,171.97,126.0,"31,476",1996.0,NaN,50~60평,8,103,1,31476
1052,202010,26,세종특별자치시 조치원읍 신안리,다가구,12m미만,378.81,263.0,"49,000",1999.0,NaN,60평 이상,12,105,0,49000
1053,202010,15,세종특별자치시 조치원읍 죽림리,단독,8m미만,98.73,167.0,"23,000",1979.0,NaN,20~30평,8,109,1,23000
1054,202010,29,세종특별자치시 조치원읍 평리,단독,8m미만,141.30,159.0,"13,000",1985.0,NaN,40~50평,8,111,1,13000

In [65]:
danta.groupby('시군구').count()

,계약년월,계약일,주택유형,도로조건,연면적(㎡),대지면적(㎡),거래금액(만원),건축년도,해제사유발생일,평,도로,시군구2,주택유형2,거래금액2(만원)
시군구,,,,,,,,,,,,,,
세종특별자치시 고운동,5,5,5,5,5,5,5,5,0,5,5,5,5,5
세종특별자치시 금남면 감성리,2,2,2,2,2,2,2,2,0,2,2,2,2,2
세종특별자치시 금남면 국곡리,1,1,1,1,1,1,1,1,0,1,1,1,1,1
세종특별자치시 금남면 금천리,2,2,2,2,2,2,2,2,0,2,2,2,2,2
세종특별자치시 금남면 남곡리,1,1,1,1,1,1,1,1,0,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
세종특별자치시 조치원읍 정리,4,4,4,4,4,4,4,4,0,4,4,4,4,4
세종특별자치시 조치원읍 죽림리,17,17,17,17,17,17,17,17,1,17,17,17,17,17
세종특별자치시 조치원읍 침산리,34,34,34,34,34,34,34,34,0,34,34,34,34,34
세종특별자치시 조치원읍 평리,17,17,17,17,17,17,17,17,0,17,17,17,17,17
세종특별자치시 한솔동,1,1,1,1,1,1,1,1,0,1,1,1,1,1

In [66]:
danta.groupby('주택유형').count()

,계약년월,계약일,시군구,도로조건,연면적(㎡),대지면적(㎡),거래금액(만원),건축년도,해제사유발생일,평,도로,시군구2,주택유형2,거래금액2(만원)
주택유형,,,,,,,,,,,,,,
다가구,124,124,124,124,124,124,124,124,8,124,124,124,124,124
단독,931,931,931,931,931,931,931,931,27,931,931,931,931,931

In [67]:
danta.groupby('평').count()

,계약년월,계약일,시군구,주택유형,도로조건,연면적(㎡),대지면적(㎡),거래금액(만원),건축년도,해제사유발생일,도로,시군구2,주택유형2,거래금액2(만원)
평,,,,,,,,,,,,,,
10~20평,149,149,149,149,149,149,149,149,149,4,149,149,149,149
10평 미만,18,18,18,18,18,18,18,18,18,0,18,18,18,18
20~30평,311,311,311,311,311,311,311,311,311,8,311,311,311,311
30~40평,143,143,143,143,143,143,143,143,143,5,143,143,143,143
40~50평,98,98,98,98,98,98,98,98,98,3,98,98,98,98
50~60평,55,55,55,55,55,55,55,55,55,4,55,55,55,55
60평 이상,281,281,281,281,281,281,281,281,281,11,281,281,281,281

### 오피스텔

In [41]:
oata = pd.read_csv('C:/Users/sopo9/Downloads/SBJ_2102_001/6.세종시_오피스텔(매매)_실거래가.csv')
oata["평"]=oata["전용면적(㎡)"].apply(pyeong)
oata

,계약년월,계약일,시군구,본번,부번,단지명,전용면적(㎡),거래금액(만원),층,건축년도,해제사유발생일,평
0,201701,4,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,000",14,2014,NaN,10평 미만
1,201701,6,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"9,500",11,2014,NaN,10평 미만
2,201702,5,세종특별자치시 나성동,713,0,세진이너스빌,34.15,"13,000",8,2013,NaN,10~20평
3,201702,9,세종특별자치시 도담동,246,5,세종한신휴시티,29.47,"13,000",6,2014,NaN,10평 미만
4,201702,17,세종특별자치시 어진동,0,0,2차푸르지오시티,23.24,"12,300",12,2014,NaN,10평 미만
...,...,...,...,...,...,...,...,...,...,...,...,...
302,202010,23,세종특별자치시 어진동,0,0,푸르지오시티,22.42,"7,950",12,2014,NaN,10평 미만
303,202010,24,세종특별자치시 어진동,0,0,푸르지오시티,22.42,"7,900",5,2014,NaN,10평 미만
304,202010,24,세종특별자치시 어진동,0,0,푸르지오시티,23.74,"8,000",15,2014,NaN,10평 미만
305,202010,30,세종특별자치시 어진동,0,0,푸르지오시티,22.42,"7,950",16,2014,NaN,10평 미만
306,202010,16,세종특별자치시 어진동,0,0,호수의아침,23.57,"7,700",10,2014,20201208.0,10평 미만

In [89]:
oata['읍면동구분']=oata['시군구'].apply(sort_dong)
oata['읍면동']=oata['시군구'].apply(sort_dong2)

In [90]:
oata.groupby('읍면동구분').count()

,계약년월,계약일,시군구,본번,부번,단지명,전용면적(㎡),거래금액(만원),층,건축년도,해제사유발생일,평,읍면동
읍면동구분,,,,,,,,,,,,,
동,301,301,301,301,301,301,301,301,301,301,7,301,301
면,1,1,1,1,1,1,1,1,1,1,0,1,1
읍,5,5,5,5,5,5,5,5,5,5,0,5,5

In [91]:
oata.groupby('읍면동').count()

,계약년월,계약일,시군구,본번,부번,단지명,전용면적(㎡),거래금액(만원),층,건축년도,해제사유발생일,평,읍면동구분
읍면동,,,,,,,,,,,,,
나성동,22,22,22,22,22,22,22,22,22,22,1,22,22
도담동,32,32,32,32,32,32,32,32,32,32,0,32,32
부강면,1,1,1,1,1,1,1,1,1,1,0,1,1
어진동,247,247,247,247,247,247,247,247,247,247,6,247,247
조치원읍,5,5,5,5,5,5,5,5,5,5,0,5,5

In [42]:
oata.groupby('시군구').count()

,계약년월,계약일,본번,부번,단지명,전용면적(㎡),거래금액(만원),층,건축년도,해제사유발생일,평
시군구,,,,,,,,,,,
세종특별자치시 나성동,22,22,22,22,22,22,22,22,22,1,22
세종특별자치시 도담동,32,32,32,32,32,32,32,32,32,0,32
세종특별자치시 부강면 부강리,1,1,1,1,1,1,1,1,1,0,1
세종특별자치시 어진동,247,247,247,247,247,247,247,247,247,6,247
세종특별자치시 조치원읍 남리,4,4,4,4,4,4,4,4,4,0,4
세종특별자치시 조치원읍 명리,1,1,1,1,1,1,1,1,1,0,1

In [43]:
oata.groupby('평').count()

        계약년월  계약일  시군구   본번   부번  단지명  전용면적(㎡)  거래금액(만원)    층  건축년도  해제사유발생일
평
10~20평    30   30   30   30   30   30       30        30   30    30        1
10평 미만   275  275  275  275  275  275      275       275  275   275        6
20~30평     2    2    2    2    2    2        2         2    2     2        0

In [ ]:
oata.isnull().sum()

### 매매 총 합

In [72]:
data_all = pd.concat([data,yata,danta,oata], ignore_index=True)
data_all

,계약년월,계약일,시군구,본번,부번,단지명,전용면적(㎡),거래금액(만원),층,건축년도,...,건물명,대지권면적(㎡),주택유형,도로조건,연면적(㎡),대지면적(㎡),도로,시군구2,주택유형2,거래금액2(만원)
0,201701,19,세종특별자치시 고운동,1401,0.0,가락마을13단지(대광로제비앙),59.6550,"23,000",11.0,2015.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,201701,2,세종특별자치시 고운동,1393,0.0,가락마을15단지(중흥파크뷰),84.9894,"32,000",3.0,2015.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,201701,14,세종특별자치시 고운동,1395,0.0,가락마을16단지(에듀그린),84.8788,"32,500",21.0,2015.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,201701,9,세종특별자치시 고운동,1386,0.0,가락마을17단지(골드클래스),59.9159,"25,100",7.0,2015.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,201701,9,세종특별자치시 고운동,1390,0.0,가락마을21단지(에듀포레),99.9434,"32,250",3.0,2015.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20312,202010,23,세종특별자치시 어진동,0,0.0,푸르지오시티,22.4200,"7,950",12.0,2014.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20313,202010,24,세종특별자치시 어진동,0,0.0,푸르지오시티,22.4200,"7,900",5.0,2014.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20314,202010,24,세종특별자치시 어진동,0,0.0,푸르지오시티,23.7400,"8,000",15.0,2014.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20315,202010,30,세종특별자치시 어진동,0,0.0,푸르지오시티,22.4200,"7,950",16.0,2014.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20316,202010,16,세종특별자치시 어진동,0,0.0,호수의아침,23.5700,"7,700",10.0,2014.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
data_all['읍면동구분']=data_all['시군구'].apply(sort_dong)
data_all['읍면동']=data_all['시군구'].apply(sort_dong2)

In [93]:
data_all.groupby('읍면동').count()

,계약년월,계약일,시군구,본번,부번,단지명,전용면적(㎡),거래금액(만원),층,건축년도,...,주택유형,도로조건,연면적(㎡),대지면적(㎡),도로,시군구2,주택유형2,거래금액2(만원),계약월,계약년
읍면동,,,,,,,,,,,,,,,,,,,,,
가람동,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,1,1
고운동,1989,1989,1989,1984,1984,1984,1984,1989,1984,1989,...,5,5,5,5,5,5,5,5,1989,1989
금남면,584,584,584,452,452,432,452,584,452,584,...,132,132,132,132,132,132,132,132,584,584
나성동,312,312,312,312,312,312,312,312,312,312,...,0,0,0,0,0,0,0,0,312,312
다정동,592,592,592,592,592,592,592,592,592,592,...,0,0,0,0,0,0,0,0,592,592
대평동,167,167,167,167,167,167,167,167,167,167,...,0,0,0,0,0,0,0,0,167,167
도담동,1629,1629,1629,1627,1627,1621,1627,1629,1627,1629,...,2,2,2,2,2,2,2,2,1629,1629
반곡동,121,121,121,121,121,103,121,121,121,121,...,0,0,0,0,0,0,0,0,121,121
보람동,389,389,389,389,389,380,389,389,389,389,...,0,0,0,0,0,0,0,0,389,389
부강면,231,231,231,161,161,94,161,231,161,231,...,70,70,70,70,70,70,70,70,231,231
새롬동,635,635,635,634,634,634,634,635,634,635,...,1,1,1,1,1,1,1,1,635,635
소담동,582,582,582,582,582,577,582,582,582,582,...,0,0,0,0,0,0,0,0,582,582
소정면,51,51,51,24,24,21,24,51,24,51,...,27,27,27,27,27,27,27,27,51,51
아름동,2331,2331,2331,2329,2329,2329,2329,2331,2329,2331,...,2,2,2,2,2,2,2,2,2331,2331
어진동,669,669,669,669,669,669,669,669,669,669,...,0,0,0,0,0,0,0,0,669,669
연기면,105,105,105,37,37,0,37,105,37,105,...,68,68,68,68,68,68,68,68,105,105
연동면,209,209,209,178,178,178,178,209,178,209,...,31,31,31,31,31,31,31,31,209,209
연서면,273,273,273,141,141,129,141,273,141,273,...,132,132,132,132,132,132,132,132,273,273
장군면,219,219,219,77,77,71,77,219,77,219,...,142,142,142,142,142,142,142,142,219,219
전동면,71,71,71,24,24,21,24,71,24,71,...,47,47,47,47,47,47,47,47,71,71
전의면,204,204,204,134,134,104,134,204,134,204,...,70,70,70,70,70,70,70,70,204,204
조치원읍,4243,4243,4243,3918,3918,3588,3918,4243,3918,4243,...,325,325,325,325,325,325,325,325,4243,4243
종촌동,2790,2790,2790,2790,2790,2790,2790,2790,2790,2790,...,0,0,0,0,0,0,0,0,2790,2790
한솔동,1920,1920,1920,1919,1919,1919,1919,1920,1919,1920,...,1,1,1,1,1,1,1,1,1920,1920

In [95]:
data_all.groupby('읍면동구분').count()

,계약년월,계약일,시군구,본번,부번,단지명,전용면적(㎡),거래금액(만원),층,건축년도,...,주택유형,도로조건,연면적(㎡),대지면적(㎡),도로,시군구2,주택유형2,거래금액2(만원),계약월,계약년
읍면동구분,,,,,,,,,,,,,,,,,,,,,
동,14127,14127,14127,14116,14116,14078,14116,14127,14116,14127,...,11,11,11,11,11,11,11,11,14127,14127
면,1947,1947,1947,1228,1228,1050,1228,1947,1228,1947,...,719,719,719,719,719,719,719,719,1947,1947
읍,4243,4243,4243,3918,3918,3588,3918,4243,3918,4243,...,325,325,325,325,325,325,325,325,4243,4243

In [97]:
data_all.groupby('평').count()

,계약년월,계약일,시군구,본번,부번,단지명,전용면적(㎡),거래금액(만원),층,건축년도,...,주택유형,도로조건,연면적(㎡),대지면적(㎡),도로,시군구2,주택유형2,거래금액2(만원),계약월,계약년
평,,,,,,,,,,,,,,,,,,,,,
10~20평,5319,5319,5319,5170,5170,4946,5170,5319,5170,5319,...,149,149,149,149,149,149,149,149,5319,5319
10평 미만,1347,1347,1347,1329,1329,1106,1329,1347,1329,1347,...,18,18,18,18,18,18,18,18,1347,1347
20~30평,10203,10203,10203,9892,9892,9794,9892,10203,9892,10203,...,311,311,311,311,311,311,311,311,10203,10203
30~40평,2846,2846,2846,2703,2703,2702,2703,2846,2703,2846,...,143,143,143,143,143,143,143,143,2846,2846
40~50평,254,254,254,156,156,156,156,254,156,254,...,98,98,98,98,98,98,98,98,254,254
50~60평,67,67,67,12,12,12,12,67,12,67,...,55,55,55,55,55,55,55,55,67,67
60평 이상,281,281,281,0,0,0,0,281,0,281,...,281,281,281,281,281,281,281,281,281,281

## 매매로 세종시로 오는 이사건 수

In [ ]:
tt1=data_all.groupby('계약년월').count()
tt1

In [75]:
uu='202010'
uu[:-2]

'2020'

### 달별 매매 이사건수(2020년 11월 12월 데이터 없음)

In [71]:
def mon(df):
    return df[-2:]

In [76]:
def year(df):
    return df[:-2]

In [73]:
data_all['계약년월']=data_all['계약년월'].astype(str)
data_all['계약월']=data_all['계약년월'].apply(mon)
tt2=data_all.groupby('계약월').count()
tt2

,계약년월,계약일,시군구,본번,부번,단지명,전용면적(㎡),거래금액(만원),층,건축년도,...,건물명,대지권면적(㎡),주택유형,도로조건,연면적(㎡),대지면적(㎡),도로,시군구2,주택유형2,거래금액2(만원)
계약월,,,,,,,,,,,,,,,,,,,,,
01,1883,1883,1883,1796,1796,1774,1796,1883,1796,1883,...,22,22,87,87,87,87,87,87,87,87
02,1953,1953,1953,1872,1872,1851,1872,1953,1872,1953,...,21,21,81,81,81,81,81,81,81,81
03,1559,1559,1559,1436,1436,1396,1436,1559,1436,1559,...,40,40,123,123,123,123,123,123,123,123
04,1220,1220,1220,1126,1126,1103,1126,1220,1126,1220,...,23,23,94,94,94,94,94,94,94,94
05,1759,1759,1759,1662,1662,1609,1662,1759,1662,1759,...,53,53,97,97,97,97,97,97,97,97
06,2948,2948,2948,2842,2842,2704,2842,2948,2842,2948,...,138,138,106,106,106,106,106,106,106,106
07,2526,2526,2526,2419,2419,2315,2419,2526,2419,2526,...,104,104,107,107,107,107,107,107,107,107
08,1474,1474,1474,1386,1386,1362,1386,1474,1386,1474,...,24,24,88,88,88,88,88,88,88,88
09,1070,1070,1070,992,992,933,992,1070,992,1070,...,59,59,78,78,78,78,78,78,78,78
10,1043,1043,1043,961,961,930,961,1043,961,1043,...,31,31,82,82,82,82,82,82,82,82
11,883,883,883,835,835,816,835,883,835,883,...,19,19,48,48,48,48,48,48,48,48
12,1999,1999,1999,1935,1935,1923,1935,1999,1935,1999,...,12,12,64,64,64,64,64,64,64,64

In [77]:
data_all['계약년']=data_all['계약년월'].apply(year)
tt2_1=data_all.groupby('계약년').count()
tt2_1

,계약년월,계약일,시군구,본번,부번,단지명,전용면적(㎡),거래금액(만원),층,건축년도,...,대지권면적(㎡),주택유형,도로조건,연면적(㎡),대지면적(㎡),도로,시군구2,주택유형2,거래금액2(만원),계약월
계약년,,,,,,,,,,,,,,,,,,,,,
2017,5218,5218,5218,4908,4908,4717,4908,5218,4908,5218,...,191,310,310,310,310,310,310,310,310,5218
2018,3805,3805,3805,3552,3552,3472,3552,3805,3552,3805,...,80,253,253,253,253,253,253,253,253,3805
2019,2783,2783,2783,2583,2583,2497,2583,2783,2583,2783,...,86,200,200,200,200,200,200,200,200,2783
2020,8511,8511,8511,8219,8219,8030,8219,8511,8219,8511,...,189,292,292,292,292,292,292,292,292,8511

### 아파트 전월세

In [34]:
data_jeon = pd.read_csv('C:/Users/sopo9/Downloads/SBJ_2102_001/7.세종시_아파트(전월세)_실거래가.csv')
data_jeon["평"]=data_jeon["전용면적(㎡)"].apply(pyeong)
data_jeon

,계약년월,계약일,시군구,본번,부번,단지명,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,건축년도,평
0,201701,13,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,"10,000",0,13,2015,20~30평
1,201701,14,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,"18,000",0,19,2015,20~30평
2,201701,14,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,59.8338,"17,000",0,10,2015,10~20평
3,201701,15,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),전세,84.9895,"17,000",0,2,2015,20~30평
4,201702,4,세종특별자치시 고운동,1396,0,가락마을 20단지(호반베르디움5차),월세,84.9895,"10,000",30,13,2015,20~30평
...,...,...,...,...,...,...,...,...,...,...,...,...,...
38890,202011,21,세종특별자치시 해밀동,6402,1,해밀마을 2단지,월세,102.8300,"10,000",100,5,2020,30~40평
38891,202012,8,세종특별자치시 해밀동,6402,1,해밀마을 2단지,월세,102.5300,"10,000",95,14,2020,30~40평
38892,202012,11,세종특별자치시 해밀동,6402,1,해밀마을 2단지,전세,84.9500,"30,000",0,18,2020,20~30평
38893,202012,12,세종특별자치시 해밀동,6402,1,해밀마을 2단지,전세,84.9500,"34,000",0,18,2020,20~30평
38894,202012,13,세종특별자치시 해밀동,6402,1,해밀마을 2단지,월세,84.9500,"8,000",85,16,2020,20~30평

In [35]:
data_jeon.groupby('평').count()

,계약년월,계약일,시군구,본번,부번,단지명,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,건축년도
평,,,,,,,,,,,,
10~20평,12516,12516,12516,12516,12516,12516,12516,12516,12516,12516,12516,12516
10평 미만,3392,3392,3392,3392,3392,3392,3392,3392,3392,3392,3392,3392
20~30평,18505,18505,18505,18505,18505,18505,18505,18505,18505,18505,18505,18505
30~40평,4371,4371,4371,4371,4371,4371,4371,4371,4371,4371,4371,4371
40~50평,92,92,92,92,92,92,92,92,92,92,92,92
50~60평,17,17,17,17,17,17,17,17,17,17,17,17
60평 이상,2,2,2,2,2,2,2,2,2,2,2,2

In [36]:
data_jeon.groupby('전월세구분').count()

,계약년월,계약일,시군구,본번,부번,단지명,전용면적(㎡),보증금(만원),월세(만원),층,건축년도,평
전월세구분,,,,,,,,,,,,
월세,11960,11960,11960,11960,11960,11960,11960,11960,11960,11960,11960,11960
전세,26935,26935,26935,26935,26935,26935,26935,26935,26935,26935,26935,26935

In [38]:
data_jeon.groupby('보증금(만원)').count()

,계약년월,계약일,시군구,본번,부번,단지명,전월세구분,전용면적(㎡),월세(만원),층,건축년도,평
보증금(만원),,,,,,,,,,,,
0,9,9,9,9,9,9,9,9,9,9,9,9
"1,000",2127,2127,2127,2127,2127,2127,2127,2127,2127,2127,2127,2127
"1,006",1,1,1,1,1,1,1,1,1,1,1,1
"1,009",192,192,192,192,192,192,192,192,192,192,192,192
"1,018",1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
949,1,1,1,1,1,1,1,1,1,1,1,1
962,1,1,1,1,1,1,1,1,1,1,1,1
979,1,1,1,1,1,1,1,1,1,1,1,1
980,6,6,6,6,6,6,6,6,6,6,6,6
990,8,8,8,8,8,8,8,8,8,8,8,8

In [39]:
data_jeon.groupby('월세(만원)').count()

,계약년월,계약일,시군구,본번,부번,단지명,전월세구분,전용면적(㎡),보증금(만원),층,건축년도,평
월세(만원),,,,,,,,,,,,
0,26936,26936,26936,26936,26936,26936,26936,26936,26936,26936,26936,26936
1,12,12,12,12,12,12,12,12,12,12,12,12
2,7,7,7,7,7,7,7,7,7,7,7,7
3,75,75,75,75,75,75,75,75,75,75,75,75
4,28,28,28,28,28,28,28,28,28,28,28,28
...,...,...,...,...,...,...,...,...,...,...,...,...
165,2,2,2,2,2,2,2,2,2,2,2,2
200,1,1,1,1,1,1,1,1,1,1,1,1
450,1,1,1,1,1,1,1,1,1,1,1,1
650,3,3,3,3,3,3,3,3,3,3,3,3
660,1,1,1,1,1,1,1,1,1,1,1,1

### 연립 전월세

In [29]:
yata_jeon = pd.read_csv('C:/Users/sopo9/Downloads/SBJ_2102_001/8.세종시_연립다세대(전월세)_실거래가.csv')
yata_jeon["평"]=yata_jeon["전용면적(㎡)"].apply(pyeong)
yata_jeon

,계약년월,계약일,시군구,본번,부번,건물명,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,건축년도,평
0,201701,18,세종특별자치시 금남면 도남리,95,0,금강의휴양림마을(프로방스빌),월세,52.1820,"1,000",40,2,2015,10~20평
1,201703,16,세종특별자치시 금남면 도남리,95,0,금강의휴양림마을(프로방스빌),월세,52.1820,"1,000",40,4,2015,10~20평
2,201706,20,세종특별자치시 금남면 도남리,95,0,금강의휴양림마을(프로방스빌),월세,54.3420,"2,000",25,1,2015,10~20평
3,201706,20,세종특별자치시 금남면 도남리,95,0,금강의휴양림마을(프로방스빌),월세,54.3420,"1,000",35,2,2015,10~20평
4,201709,7,세종특별자치시 금남면 도남리,95,0,금강의휴양림마을(프로방스빌),월세,54.3420,"2,000",30,4,2015,10~20평
...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,202011,26,세종특별자치시 조치원읍 정리,112,0,세진시티빌,월세,20.2003,"1,500",30,3,2015,10평 미만
419,202004,11,세종특별자치시 조치원읍 침산리,275,1,Juniper Hille,월세,17.3800,30,33,5,2013,10평 미만
420,202012,26,세종특별자치시 조치원읍 침산리,148,0,거성주택AB,전세,40.9500,"5,000",0,2,1989,10~20평
421,202003,17,세종특별자치시 조치원읍 침산리,147,4,고려(2),전세,76.3200,"5,500",0,2,1986,20~30평
422,202004,21,세종특별자치시 조치원읍 침산리,283,4,해솔마을A동,전세,20.9200,"4,000",0,2,2013,10평 미만

In [30]:
yata_jeon.groupby('평').count()

,계약년월,계약일,시군구,본번,부번,건물명,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,건축년도
평,,,,,,,,,,,,
10~20평,95,95,95,95,95,95,95,95,95,95,95,95
10평 미만,302,302,302,302,302,302,302,302,302,302,302,302
20~30평,26,26,26,26,26,26,26,26,26,26,26,26

In [31]:
yata_jeon.groupby('전월세구분').count()

       계약년월  계약일  시군구   본번   부번  건물명  전용면적(㎡)  보증금(만원)  월세(만원)    층  건축년도    평
전월세구분
월세      227  227  227  227  227  227      227      227     227  227   227  227
전세      196  196  196  196  196  196      196      196     196  196   196  196

In [32]:
yata_jeon.groupby('보증금(만원)').count()

         계약년월  계약일  시군구  본번  부번  건물명  전월세구분  전용면적(㎡)  월세(만원)   층  건축년도   평
보증금(만원)
1,000      22   22   22  22  22   22     22       22      22  22    22  22
1,200       1    1    1   1   1    1      1        1       1   1     1   1
1,300       1    1    1   1   1    1      1        1       1   1     1   1
1,400       1    1    1   1   1    1      1        1       1   1     1   1
1,500      10   10   10  10  10   10     10       10      10  10    10  10
10,000      4    4    4   4   4    4      4        4       4   4     4   4
100         9    9    9   9   9    9      9        9       9   9     9   9
11,000      3    3    3   3   3    3      3        3       3   3     3   3
11,500      1    1    1   1   1    1      1        1       1   1     1   1
14,000      2    2    2   2   2    2      2        2       2   2     2   2
2,000      24   24   24  24  24   24     24       24      24  24    24  24
2,200       1    1    1   1   1    1      1        1       1   1     1   1
2,500       7    7    7   7   7    7      7        7       7   7     7   7
2,600       1    1    1   1   1    1      1        1       1   1     1   1
2,700       3    3    3   3   3    3      3        3       3   3     3   3
2,800       4    4    4   4   4    4      4        4       4   4     4   4
2,900       1    1    1   1   1    1      1        1       1   1     1   1
20          1    1    1   1   1    1      1        1       1   1     1   1
20,000      1    1    1   1   1    1      1        1       1   1     1   1
200         9    9    9   9   9    9      9        9       9   9     9   9
3,000      47   47   47  47  47   47     47       47      47  47    47  47
3,200       2    2    2   2   2    2      2        2       2   2     2   2
3,300       6    6    6   6   6    6      6        6       6   6     6   6
3,500      19   19   19  19  19   19     19       19      19  19    19  19
3,700       3    3    3   3   3    3      3        3       3   3     3   3
3,800       2    2    2   2   2    2      2        2       2   2     2   2
30          2    2    2   2   2    2      2        2       2   2     2   2
300        56   56   56  56  56   56     56       56      56  56    56  56
310         2    2    2   2   2    2      2        2       2   2     2   2
33          1    1    1   1   1    1      1        1       1   1     1   1
4,000      27   27   27  27  27   27     27       27      27  27    27  27
4,200       2    2    2   2   2    2      2        2       2   2     2   2
4,500       8    8    8   8   8    8      8        8       8   8     8   8
4,725       1    1    1   1   1    1      1        1       1   1     1   1
400         4    4    4   4   4    4      4        4       4   4     4   4
5,000      14   14   14  14  14   14     14       14      14  14    14  14
5,500       3    3    3   3   3    3      3        3       3   3     3   3
50          2    2    2   2   2    2      2        2       2   2     2   2
500        73   73   73  73  73   73     73       73      73  73    73  73
6,000      10   10   10  10  10   10     10       10      10  10    10  10
6,300       1    1    1   1   1    1      1        1       1   1     1   1
6,500       6    6    6   6   6    6      6        6       6   6     6   6
7,000       6    6    6   6   6    6      6        6       6   6     6   6
7,300       1    1    1   1   1    1      1        1       1   1     1   1
7,500       1    1    1   1   1    1      1        1       1   1     1   1
8,000       4    4    4   4   4    4      4        4       4   4     4   4
8,500       7    7    7   7   7    7      7        7       7   7     7   7
8,600       2    2    2   2   2    2      2        2       2   2     2   2
8,820       1    1    1   1   1    1      1        1       1   1     1   1
8,925       2    2    2   2   2    2      2        2       2   2     2   2
9,000       2    2    2   2   2    2      2        2       2   2     2   2

In [33]:
yata_jeon.groupby('월세(만원)').count()

        계약년월  계약일  시군구   본번   부번  건물명  전월세구분  전용면적(㎡)  보증금(만원)    층  건축년도    평
월세(만원)
0        196  196  196  196  196  196    196      196      196  196   196  196
3          5    5    5    5    5    5      5        5        5    5     5    5
5          3    3    3    3    3    3      3        3        3    3     3    3
8          1    1    1    1    1    1      1        1        1    1     1    1
10         3    3    3    3    3    3      3        3        3    3     3    3
12         1    1    1    1    1    1      1        1        1    1     1    1
13         2    2    2    2    2    2      2        2        2    2     2    2
14         1    1    1    1    1    1      1        1        1    1     1    1
15         8    8    8    8    8    8      8        8        8    8     8    8
17         1    1    1    1    1    1      1        1        1    1     1    1
20         5    5    5    5    5    5      5        5        5    5     5    5
22         1    1    1    1    1    1      1        1        1    1     1    1
24         1    1    1    1    1    1      1        1        1    1     1    1
25         7    7    7    7    7    7      7        7        7    7     7    7
26         3    3    3    3    3    3      3        3        3    3     3    3
27         5    5    5    5    5    5      5        5        5    5     5    5
28         4    4    4    4    4    4      4        4        4    4     4    4
30        25   25   25   25   25   25     25       25       25   25    25   25
31         3    3    3    3    3    3      3        3        3    3     3    3
32         3    3    3    3    3    3      3        3        3    3     3    3
33         5    5    5    5    5    5      5        5        5    5     5    5
34         4    4    4    4    4    4      4        4        4    4     4    4
35        26   26   26   26   26   26     26       26       26   26    26   26
36         7    7    7    7    7    7      7        7        7    7     7    7
37         9    9    9    9    9    9      9        9        9    9     9    9
38        12   12   12   12   12   12     12       12       12   12    12   12
39         3    3    3    3    3    3      3        3        3    3     3    3
40        26   26   26   26   26   26     26       26       26   26    26   26
41         2    2    2    2    2    2      2        2        2    2     2    2
42        11   11   11   11   11   11     11       11       11   11    11   11
43         5    5    5    5    5    5      5        5        5    5     5    5
44         2    2    2    2    2    2      2        2        2    2     2    2
45        23   23   23   23   23   23     23       23       23   23    23   23
47         2    2    2    2    2    2      2        2        2    2     2    2
48         1    1    1    1    1    1      1        1        1    1     1    1
50         7    7    7    7    7    7      7        7        7    7     7    7

### 단독 전월세

In [24]:
danta_jeon = pd.read_csv('C:/Users/sopo9/Downloads/SBJ_2102_001/9.세종시_단독다가구(전월세)_실거래가.csv')
danta_jeon["평"]=danta_jeon["계약면적(㎡)"].apply(pyeong)
danta_jeon

,계약년월,계약일,시군구,도로조건,계약면적(㎡),전월세구분,보증금(만원),월세(만원),건축년도,평
0,201707,28,세종특별자치시 고운동,25m미만,249.78,전세,"30,000",0,2015.0,60평 이상
1,201706,2,세종특별자치시 금남면 감성리,8m미만,51.34,월세,"3,000",20,1973.0,10~20평
2,201712,1,세종특별자치시 금남면 대박리,12m미만,70.20,월세,"2,000",80,2014.0,20~30평
3,201712,15,세종특별자치시 금남면 도남리,8m미만,112.63,월세,"5,000",55,1998.0,30~40평
4,201712,3,세종특별자치시 금남면 도암리,8m미만,20.00,월세,100,10,1999.0,10평 미만
...,...,...,...,...,...,...,...,...,...,...
4600,202006,21,세종특별자치시 조치원읍 평리,8m미만,64.62,월세,"2,000",20,1993.0,10~20평
4601,202011,7,세종특별자치시 조치원읍 평리,8m미만,65.00,월세,300,47,2014.0,10~20평
4602,202008,10,세종특별자치시 조치원읍 평리,-,67.25,전세,"6,000",0,1985.0,20~30평
4603,202002,24,세종특별자치시 조치원읍 평리,8m미만,90.22,전세,"6,000",0,1985.0,20~30평
4604,202005,1,세종특별자치시 조치원읍 평리,8m미만,155.50,월세,500,25,1989.0,40~50평

In [25]:
danta_jeon.groupby('평').count()

        계약년월   계약일   시군구  도로조건  계약면적(㎡)  전월세구분  보증금(만원)  월세(만원)  건축년도
평
10~20평  1435  1435  1435  1435     1435   1435     1435    1435  1370
10평 미만  2585  2585  2585  2585     2585   2585     2585    2585  2474
20~30평   392   392   392   392      392    392      392     392   357
30~40평    92    92    92    92       92     92       92      92    83
40~50평    52    52    52    52       52     52       52      52    46
50~60평    30    30    30    30       30     30       30      30    23
60평 이상    19    19    19    19       19     19       19      19    19

In [26]:
danta_jeon.groupby('전월세구분').count()

       계약년월   계약일   시군구  도로조건  계약면적(㎡)  보증금(만원)  월세(만원)  건축년도     평
전월세구분
월세     1361  1361  1361  1361     1361     1361    1361  1282  1361
전세     3244  3244  3244  3244     3244     3244    3244  3090  3244

In [27]:
danta_jeon.groupby('보증금(만원)').count()

         계약년월  계약일  시군구  도로조건  계약면적(㎡)  전월세구분  월세(만원)  건축년도    평
보증금(만원)
0          11   11   11    11       11     11      11     9   11
1,000     152  152  152   152      152    152     152   144  152
1,200       2    2    2     2        2      2       2     2    2
1,300       5    5    5     5        5      5       5     4    5
1,500      51   51   51    51       51     51      51    47   51
...       ...  ...  ...   ...      ...    ...     ...   ...  ...
800         2    2    2     2        2      2       2     2    2
9,000      35   35   35    35       35     35      35    35   35
9,500      13   13   13    13       13     13      13    13   13
900         1    1    1     1        1      1       1     1    1
950         1    1    1     1        1      1       1     1    1

[119 rows x 9 columns]

In [28]:
danta_jeon.groupby('월세(만원)').count()

        계약년월   계약일   시군구  도로조건  계약면적(㎡)  전월세구분  보증금(만원)  건축년도     평
월세(만원)
0       3244  3244  3244  3244     3244   3244     3244  3090  3244
3          4     4     4     4        4      4        4     3     4
4          7     7     7     7        7      7        7     7     7
5         24    24    24    24       24     24       24    24    24
6          3     3     3     3        3      3        3     3     3
...      ...   ...   ...   ...      ...    ...      ...   ...   ...
96         1     1     1     1        1      1        1     0     1
110        1     1     1     1        1      1        1     1     1
111        1     1     1     1        1      1        1     0     1
170        1     1     1     1        1      1        1     0     1
200        1     1     1     1        1      1        1     0     1

[72 rows x 9 columns]

### 오피스텔 전월세

In [20]:
oata_jeon = pd.read_csv('C:/Users/sopo9/Downloads/SBJ_2102_001/10.세종시_오피스텔(전월세)_실거래가.csv')
oata_jeon["평"]=oata_jeon["전용면적(㎡)"].apply(pyeong)
oata_jeon

,시군구,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),월세(만원),층,건축년도,평
0,세종특별자치시 어진동,0,0,2차푸르지오시티,전세,21.92,201701,1,"7,500",0,9,2014,10평 미만
1,세종특별자치시 어진동,0,0,푸르지오시티,월세,23.74,201701,2,300,30,13,2014,10평 미만
2,세종특별자치시 어진동,0,0,호수의아침,전세,23.57,201701,3,"6,000",0,11,2014,10평 미만
3,세종특별자치시 어진동,0,0,호수의아침,전세,23.57,201701,5,"7,000",0,10,2014,10평 미만
4,세종특별자치시 어진동,0,0,2차푸르지오시티,전세,21.92,201701,6,"7,000",0,15,2014,10평 미만
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1269,세종특별자치시 나성동,756,0,리치먼드시티세종,전세,26.18,202012,9,"14,000",0,6,2020,10평 미만
1270,세종특별자치시 나성동,756,0,리치먼드시티세종,월세,32.50,202012,16,"1,000",65,4,2020,10평 미만
1271,세종특별자치시 도담동,246,5,세종한신휴시티,전세,24.03,202012,18,"9,000",0,4,2014,10평 미만
1272,세종특별자치시 나성동,756,0,리치먼드시티세종,전세,26.18,202012,28,"16,000",0,8,2020,10평 미만
1273,세종특별자치시 나성동,756,0,리치먼드시티세종,전세,26.18,202012,30,"15,000",0,8,2020,10평 미만

In [21]:
oata_jeon.groupby('평').count()

,시군구,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),월세(만원),층,건축년도
평,,,,,,,,,,,,
10~20평,110,110,110,110,110,110,110,110,110,110,110,110
10평 미만,1158,1158,1158,1158,1158,1158,1158,1158,1158,1158,1158,1158
20~30평,6,6,6,6,6,6,6,6,6,6,6,6

In [22]:
oata_jeon.groupby('전월세구분').count()

       시군구   본번   부번  단지명  전용면적(㎡)  계약년월  계약일  보증금(만원)  월세(만원)    층  건축년도    평
전월세구분
월세     697  697  697  697      697   697  697      697     697  697   697  697
전세     577  577  577  577      577   577  577      577     577  577   577  577

In [23]:
oata_jeon.groupby('월세(만원)').count()

        시군구   본번   부번  단지명  전월세구분  전용면적(㎡)  계약년월  계약일  보증금(만원)    층  건축년도    평
월세(만원)
0       577  577  577  577    577      577   577  577      577  577   577  577
5         1    1    1    1      1        1     1    1        1    1     1    1
7         1    1    1    1      1        1     1    1        1    1     1    1
10        3    3    3    3      3        3     3    3        3    3     3    3
15        7    7    7    7      7        7     7    7        7    7     7    7
17        2    2    2    2      2        2     2    2        2    2     2    2
20       36   36   36   36     36       36    36   36       36   36    36   36
22        4    4    4    4      4        4     4    4        4    4     4    4
23        9    9    9    9      9        9     9    9        9    9     9    9
24        2    2    2    2      2        2     2    2        2    2     2    2
25       24   24   24   24     24       24    24   24       24   24    24   24
26        6    6    6    6      6        6     6    6        6    6     6    6
27       19   19   19   19     19       19    19   19       19   19    19   19
28       22   22   22   22     22       22    22   22       22   22    22   22
29       15   15   15   15     15       15    15   15       15   15    15   15
30      135  135  135  135    135      135   135  135      135  135   135  135
31       12   12   12   12     12       12    12   12       12   12    12   12
32       39   39   39   39     39       39    39   39       39   39    39   39
33       46   46   46   46     46       46    46   46       46   46    46   46
34        5    5    5    5      5        5     5    5        5    5     5    5
35      119  119  119  119    119      119   119  119      119  119   119  119
36       13   13   13   13     13       13    13   13       13   13    13   13
37       30   30   30   30     30       30    30   30       30   30    30   30
38       25   25   25   25     25       25    25   25       25   25    25   25
40       52   52   52   52     52       52    52   52       52   52    52   52
42        9    9    9    9      9        9     9    9        9    9     9    9
43        2    2    2    2      2        2     2    2        2    2     2    2
44        1    1    1    1      1        1     1    1        1    1     1    1
45       20   20   20   20     20       20    20   20       20   20    20   20
46        1    1    1    1      1        1     1    1        1    1     1    1
47        4    4    4    4      4        4     4    4        4    4     4    4
48        1    1    1    1      1        1     1    1        1    1     1    1
49        1    1    1    1      1        1     1    1        1    1     1    1
50       15   15   15   15     15       15    15   15       15   15    15   15
53        2    2    2    2      2        2     2    2        2    2     2    2
55        4    4    4    4      4        4     4    4        4    4     4    4
57        1    1    1    1      1        1     1    1        1    1     1    1
60        5    5    5    5      5        5     5    5        5    5     5    5
65        2    2    2    2      2        2     2    2        2    2     2    2
70        1    1    1    1      1        1     1    1        1    1     1    1
75        1    1    1    1      1        1     1    1        1    1     1    1

In [ ]:
### 전월세 총합

In [69]:
data_jeon_all = pd.concat([data_jeon,yata_jeon,danta_jeon,oata_jeon], ignore_index=True)
data_jeon_all

,계약년월,계약일,시군구,본번,부번,단지명,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,건축년도,평,건물명,도로조건,계약면적(㎡)
0,201701,13,세종특별자치시 고운동,1396,0.0,가락마을 20단지(호반베르디움5차),전세,84.9895,"10,000",0,13.0,2015.0,20~30평,NaN,NaN,NaN
1,201701,14,세종특별자치시 고운동,1396,0.0,가락마을 20단지(호반베르디움5차),전세,84.9895,"18,000",0,19.0,2015.0,20~30평,NaN,NaN,NaN
2,201701,14,세종특별자치시 고운동,1396,0.0,가락마을 20단지(호반베르디움5차),전세,59.8338,"17,000",0,10.0,2015.0,10~20평,NaN,NaN,NaN
3,201701,15,세종특별자치시 고운동,1396,0.0,가락마을 20단지(호반베르디움5차),전세,84.9895,"17,000",0,2.0,2015.0,20~30평,NaN,NaN,NaN
4,201702,4,세종특별자치시 고운동,1396,0.0,가락마을 20단지(호반베르디움5차),월세,84.9895,"10,000",30,13.0,2015.0,20~30평,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45192,202012,9,세종특별자치시 나성동,756,0.0,리치먼드시티세종,전세,26.1800,"14,000",0,6.0,2020.0,10평 미만,NaN,NaN,NaN
45193,202012,16,세종특별자치시 나성동,756,0.0,리치먼드시티세종,월세,32.5000,"1,000",65,4.0,2020.0,10평 미만,NaN,NaN,NaN
45194,202012,18,세종특별자치시 도담동,246,5.0,세종한신휴시티,전세,24.0300,"9,000",0,4.0,2014.0,10평 미만,NaN,NaN,NaN
45195,202012,28,세종특별자치시 나성동,756,0.0,리치먼드시티세종,전세,26.1800,"16,000",0,8.0,2020.0,10평 미만,NaN,NaN,NaN
45196,202012,30,세종특별자치시 나성동,756,0.0,리치먼드시티세종,전세,26.1800,"15,000",0,8.0,2020.0,10평 미만,NaN,NaN,NaN

In [74]:
data_jeon_all['계약년월']=data_jeon_all['계약년월'].astype(str)
data_jeon_all['계약월']=data_jeon_all['계약년월'].apply(mon)
tt3=data_jeon_all.groupby('계약월').count()
tt3

,계약년월,계약일,시군구,본번,부번,단지명,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,건축년도,평,건물명,도로조건,계약면적(㎡)
계약월,,,,,,,,,,,,,,,,
01,4542,4542,4542,4078,4078,4036,4542,4078,4542,4542,4078,4509,4542,42,464,464
02,4404,4404,4404,3790,3790,3731,4404,3790,4404,4404,3790,4380,4404,59,614,614
03,3446,3446,3446,3060,3060,3020,3446,3060,3446,3446,3060,3423,3446,40,386,386
04,2912,2912,2912,2613,2613,2589,2912,2613,2912,2912,2613,2899,2912,24,299,299
05,3006,3006,3006,2669,2669,2630,3006,2669,3006,3006,2669,2987,3006,39,337,337
06,3346,3346,3346,3019,3019,2995,3346,3019,3346,3346,3019,3335,3346,24,327,327
07,3855,3855,3855,3509,3509,3478,3855,3509,3855,3855,3509,3842,3855,31,346,346
08,3623,3623,3623,3208,3208,3164,3623,3208,3623,3623,3208,3594,3623,44,415,415
09,3689,3689,3689,3400,3400,3365,3689,3400,3689,3689,3400,3681,3689,35,289,289
10,3522,3522,3522,3230,3230,3211,3522,3230,3522,3522,3230,3507,3522,19,292,292
11,4180,4180,4180,3865,3865,3837,4180,3865,4180,4180,3865,4164,4180,28,315,315
12,4672,4672,4672,4151,4151,4113,4672,4151,4672,4672,4151,4643,4672,38,521,521

In [78]:
data_jeon_all['계약년']=data_jeon_all['계약년월'].apply(year)
tt3_1=data_jeon_all.groupby('계약년').count()
tt3_1

,계약년월,계약일,시군구,본번,부번,단지명,전월세구분,전용면적(㎡),보증금(만원),월세(만원),층,건축년도,평,건물명,도로조건,계약면적(㎡),계약월
계약년,,,,,,,,,,,,,,,,,
2017,10204,10204,10204,9238,9238,9149,10204,9238,10204,10204,9238,10168,10204,89,966,966,10204
2018,9948,9948,9948,8880,8880,8793,9948,8880,9948,9948,8880,9896,9948,87,1068,1068,9948
2019,12291,12291,12291,11140,11140,11046,12291,11140,12291,12291,11140,12222,12291,94,1151,1151,12291
2020,12754,12754,12754,11334,11334,11181,12754,11334,12754,12754,11334,12678,12754,153,1420,1420,12754

### 토지매매 실거래

In [14]:
def pyeong2(df):
    return int(df/3.3)

In [15]:
tata = pd.read_csv('C:/Users/sopo9/Downloads/SBJ_2102_001/12.세종시_토지(매매)_실거래가.csv')
tata["평"]=tata["계약면적(㎡)"].apply(pyeong2)
tata

,시군구,지목,용도지역,도로조건,계약년월,계약일,계약면적(㎡),거래금액(만원),지분구분,해제사유발생일,평
0,세종특별자치시 전동면 보덕리,임야,농림지역,-,201801,1,331.0,"1,050",지분,NaN,100
1,세종특별자치시 전동면 봉대리,임야,농림지역,-,201801,1,330.0,"1,190",지분,NaN,100
2,세종특별자치시 전동면 송정리,임야,농림지역,-,201801,1,331.0,"1,290",지분,NaN,100
3,세종특별자치시 전동면 송정리,임야,농림지역,-,201801,1,2645.0,"10,320",지분,NaN,801
4,세종특별자치시 장군면 은용리,임야,농림지역,-,201801,1,1652.0,"11,450",지분,NaN,500
...,...,...,...,...,...,...,...,...,...,...,...
35672,세종특별자치시 전의면 신방리,과수원,계획관리지역,8m미만,201712,30,155.0,"3,525",지분,NaN,46
35673,세종특별자치시 전의면 신방리,과수원,계획관리지역,8m미만,201712,30,199.0,"4,500",지분,NaN,60
35674,세종특별자치시 전의면 신방리,과수원,계획관리지역,8m미만,201712,30,324.0,"4,998",지분,NaN,98
35675,세종특별자치시 전의면 신방리,과수원,계획관리지역,8m미만,201712,30,30.0,459,지분,NaN,9
35676,세종특별자치시 장군면 금암리,전,계획관리지역,8m미만,201712,31,364.0,"22,000",,NaN,110

In [16]:
tata.groupby('지목').count()

,시군구,용도지역,도로조건,계약년월,계약일,계약면적(㎡),거래금액(만원),지분구분,해제사유발생일,평
지목,,,,,,,,,,
공원,438,438,438,438,438,438,438,438,34,438
공장용지,203,203,203,203,203,203,203,203,5,203
과수원,963,963,963,963,963,963,963,963,25,963
구거,20,20,20,20,20,20,20,20,0,20
답,4140,4138,4140,4140,4140,4140,4140,4140,90,4140
대,3244,3238,3244,3244,3244,3244,3244,3244,65,3244
도로,1809,1809,1809,1809,1809,1809,1809,1809,66,1809
목장용지,290,284,290,290,290,290,290,290,3,290
묘지,17,17,17,17,17,17,17,17,0,17
수도용지,11,11,11,11,11,11,11,11,0,11
양어장,4,4,4,4,4,4,4,4,0,4
유지,17,17,17,17,17,17,17,17,0,17
임야,20040,20034,20040,20040,20040,20040,20040,20040,274,20040
잡종지,191,191,191,191,191,191,191,191,6,191
전,4133,4129,4133,4133,4133,4133,4133,4133,111,4133
제방,12,12,12,12,12,12,12,12,0,12
종교용지,5,5,5,5,5,5,5,5,0,5
주유소용지,3,3,3,3,3,3,3,3,0,3
주차장,17,17,17,17,17,17,17,17,0,17
창고용지,32,32,32,32,32,32,32,32,1,32
철도용지,6,6,6,6,6,6,6,6,0,6
하천,64,64,64,64,64,64,64,64,1,64
학교용지,18,18,18,18,18,18,18,18,0,18

In [17]:
tata.groupby('용도지역').count()

,시군구,지목,도로조건,계약년월,계약일,계약면적(㎡),거래금액(만원),지분구분,해제사유발생일,평
용도지역,,,,,,,,,,
개발제한구역,605,605,605,605,605,605,605,605,7,605
계획관리지역,8701,8701,8701,8701,8701,8701,8701,8701,227,8701
관리지역,6,6,6,6,6,6,6,6,0,6
근린상업지역,2,2,2,2,2,2,2,2,0,2
농림지역,13244,13244,13244,13244,13244,13244,13244,13244,122,13244
보전관리지역,6968,6968,6968,6968,6968,6968,6968,6968,185,6968
보전녹지지역,260,260,260,260,260,260,260,260,1,260
생산관리지역,1777,1777,1777,1777,1777,1777,1777,1777,35,1777
생산녹지지역,51,51,51,51,51,51,51,51,2,51
용도미지정,534,534,534,534,534,534,534,534,2,534
일반공업지역,67,67,67,67,67,67,67,67,2,67
일반상업지역,38,38,38,38,38,38,38,38,0,38
일반주거지역,1,1,1,1,1,1,1,1,0,1
자연녹지지역,1501,1501,1501,1501,1501,1501,1501,1501,36,1501
자연환경보전,82,82,82,82,82,82,82,82,0,82
제1종일반주거지역,223,223,223,223,223,223,223,223,4,223
제1종전용주거지역,891,891,891,891,891,891,891,891,14,891
제2종일반주거지역,637,637,637,637,637,637,637,637,12,637
제2종전용주거지역,2,2,2,2,2,2,2,2,2,2
준공업지역,30,30,30,30,30,30,30,30,12,30
준주거지역,30,30,30,30,30,30,30,30,0,30
중심상업지역,3,3,3,3,3,3,3,3,0,3

In [18]:
tata.groupby('평').count()

        시군구   지목  용도지역  도로조건  계약년월  계약일  계약면적(㎡)  거래금액(만원)  지분구분  해제사유발생일
평
0       876  876   876   876   876  876      876       876   876       28
1       543  543   543   543   543  543      543       543   543       27
2       437  437   437   437   437  437      437       437   437       13
3       474  474   474   474   474  474      474       474   474       14
4       319  319   319   319   319  319      319       319   319        6
...     ...  ...   ...   ...   ...  ...      ...       ...   ...      ...
42751     1    1     1     1     1    1        1         1     1        0
54086     1    1     1     1     1    1        1         1     1        0
88999     1    1     1     1     1    1        1         1     1        0
91179     1    1     1     1     1    1        1         1     1        0
196969    1    1     1     1     1    1        1         1     1        0

[1971 rows x 10 columns]

### 분양권 실거래가

In [11]:
bunta = pd.read_csv('C:/Users/sopo9/Downloads/SBJ_2102_001/13.세종시_분양권_실거래가.csv')
bunta["평"]=bunta["전용면적(㎡)"].apply(pyeong)

In [12]:
bunta

,시군구,단지명,전용면적(㎡),거래금액(만원),층,계약년월,계약일,분/입구분,해제사유발생일,평
0,세종특별자치시 고운동,가락마을 19단지(세종파라곤),105.6138,"37,725",5,201710,11,분,NaN,30~40평
1,세종특별자치시 고운동,가락마을 19단지(세종파라곤),59.6506,"22,169",2,201710,13,분,NaN,10~20평
2,세종특별자치시 고운동,가락마을 19단지(세종파라곤),59.6506,"22,569",17,201710,13,분,NaN,10~20평
3,세종특별자치시 고운동,가락마을 19단지(세종파라곤),84.9544,"33,572",16,201710,14,분,NaN,20~30평
4,세종특별자치시 고운동,가락마을 19단지(세종파라곤),84.9544,"32,072",12,201710,14,분,NaN,20~30평
...,...,...,...,...,...,...,...,...,...,...
7413,세종특별자치시 집현동,세종 하늘채 센트레빌 M5블록,84.4700,"41,220",12,202005,18,분,NaN,20~30평
7414,세종특별자치시 해밀동,세종 마스터힐스 6-4생활권 L1블록,84.9500,"43,954",4,202003,7,분,NaN,20~30평
7415,세종특별자치시 해밀동,세종 마스터힐스 6-4생활권 L1블록,59.0000,"49,000",12,202007,6,분,NaN,10~20평
7416,세종특별자치시 해밀동,세종 마스터힐스 6-4생활권 M1블록,112.8900,"84,000",3,202007,9,분,NaN,30~40평
7417,세종특별자치시 해밀동,세종 마스터힐스 6-4생활권 M1블록,84.9500,"56,672",21,202009,17,분,NaN,20~30평

In [13]:
bunta.groupby('평').count()

         시군구   단지명  전용면적(㎡)  거래금액(만원)     층  계약년월   계약일  분/입구분  해제사유발생일
평
10~20평  1749  1749     1749      1749  1749  1749  1749   1749        0
10평 미만    75    75       75        75    75    75    75     75        0
20~30평  3712  3712     3712      3712  3712  3712  3712   3712        0
30~40평  1866  1866     1866      1866  1866  1866  1866   1866        1
40~50평    13    13       13        13    13    13    13     13        0
50~60평     2     2        2         2     2     2     2      2        0
60평 이상     1     1        1         1     1     1     1      1        0