In [1]:
!!conda install PyMySQL

['Collecting package metadata (current_repodata.json): ...working... done',
 'Solving environment: ...working... done',
 '',
 '## Package Plan ##',
 '',
 '  environment location: C:\\Users\\701\\anaconda3',
 '',
 '  added / updated specs:',
 '    - pymysql',
 '',
 '',
 'The following packages will be downloaded:',
 '',
 '    package                    |            build',
 '    ---------------------------|-----------------',
 '    pymysql-1.0.2              |   py38haa95532_1          77 KB',
 '    ------------------------------------------------------------',
 '                                           Total:          77 KB',
 '',
 'The following NEW packages will be INSTALLED:',
 '',
 '  pymysql            pkgs/main/win-64::pymysql-1.0.2-py38haa95532_1',
 '',
 '',
 'Proceed ([y]/n)? ',
 '',
 'Downloading and Extracting Packages',
 '',
 'pymysql-1.0.2        | 77 KB     |            |   0% ',
 'pymysql-1.0.2        | 77 KB     | ########## | 100% ',
 'pymysql-1.0.2        | 77 KB     | ########## | 100% ',
 'Preparing transaction: ...working... done',
 'Verifying transaction: ...working... done',
 'Executing transaction: ...working... done']

# DB 정보 설정

In [5]:
import  pymysql.cursors 

connection = pymysql.connect(host='localhost', port=3306, user='root', password='1234', db='mydb')

host: MySQL 서버의 호스트. 이번에는 서버를localhost(127.0.0.1)에 작성했지만 원격에있는 경우에는 해당 IP 주소 또는 호스트 이름을 지정합니다.
port: MySQL 서버의 포트. 기본적으로 3306로 시작하고 있습니다. .
user : 서버에 연결된 사용자입니다. 이번에는 견본을 위해, root 를 사용하지만 프로덕션 서버에서 root 로 접속하는 것은 매우 위험하므로 조심합시다.
password: 서버 연결 사용자가 설정한 암호입니다..

## 데이터베이스를 관리하는 객체

In [6]:
cursor = connection.cursor()

### cursor의 execute () 메소드에서 SQL 문을 실행할 수 있습니다. 메소드의 반환 값은 SQL 수행 될 때 변경된 행이 반환됩니다.

In [7]:
cursor.execute("CREATE TABLE sample_tbl (id int, firstname varchar(255), lastname varchar(255));")

0

### 데이터의 취득이있는 경우에는 fetchone () , fetchall () 등의 메소드에서 데이터 검색을합시다.

In [8]:
cursor.fetchone()

### 기본적으로 AUTO_COMMIT = False로되어 있기 때문에, SQL 실행의 반영에는 수동으로 COMMIT 가 필요합니다.

### COMMIT 는 Connection 의 commit () 메소드에서 실행할 수 있습니다.

In [9]:
connection.commit()

### 소켓을 닫고 종료하려면 Connection 의 close () 메소드를 호출합니다.

In [10]:
connection.close()

In [12]:
# 구현 예 1
import pymysql

connection = pymysql.connect(host='localhost', port=3306, user='root', password='1234', db='mydb')

try:
    with connection.cursor() as cursor:
        sql = "INSERT INTO sample_tbl (id, firstname, lastname) VALUES (1, 'mars', 'quai');"
        cursor.execute(sql)
        connection.commit()
finally:
    connection.close()

In [14]:
#구현 예 2
import pymysql, contextlib

connection = pymysql.connect(host='localhost', port=3306, user='root', password='1234', db='mydb')

with contextlib.closing(connection):
    with connection.cursor() as cursor:
        sql = "INSERT INTO sample_tbl (id, firstname, lastname) VALUES (1, 'mars', 'quai');"
        cursor.execute(sql)
        connection.commit()

In [16]:
import pymysql


db = pymysql.connect(host='localhost', port=3306, user='root', password='1234', db='mydb')

cursor = db.cursor() 

cursor.execute("SELECT VERSION()") 

data = cursor.fetchone()
print ("Database version : %s " % data)

Database version : 8.0.22

In [17]:
#데이터베이스 테이블 생성
import pymysql

db = pymysql.connect(host='localhost', port=3306, user='root', password='1234', db='mydb' )

cursor = db.cursor()

cursor.execute("DROP TABLE IF EXISTS EMPLOYEE")

sql = """CREATE TABLE EMPLOYEE (
   FIRST_NAME  CHAR(20) NOT NULL,
   LAST_NAME  CHAR(20),
   AGE INT,  
   SEX CHAR(1),
   INCOME FLOAT )"""

cursor.execute(sql)

db.close()

In [18]:
#INSERT 작업
import pymysql

db = pymysql.connect(host='localhost', port=3306, user='root', password='1234', db='mydb')

cursor = db.cursor()

sql = """"INSERT INTO EMPLOYEE(FIRST_NAME, \
   LAST_NAME, AGE, SEX, INCOME) \
   VALUES ('%s', '%s', '%d', '%c', '%d' )" % \
   VALUES ('LEE', 'james', 48, 'M', 10000)"""
try:
   
   cursor.execute(sql)
   
   db.commit()
except:
   
   db.rollback()


db.close()

In [19]:
# 내용보기
import pymysql

db = pymysql.connect(host='localhost', port=3306, user='root', password='1234', db='mydb')

cursor = db.cursor()

sql = "SELECT * FROM EMPLOYEE \
      WHERE INCOME > '%d'" % (1000)
try:
    cursor.execute(sql)
    results = cursor.fetchall()
    for row in results:
        fname = row[0]
        lname = row[1]
        age = row[2]
        sex = row[3]
        income = row[4]
        print ("fname = %s,lname = %s,age = %d,sex = %s,income = %d" % \
         (fname, lname, age, sex, income ))
except:
    print ("Error: unable to fetch data")

db.close()

In [20]:
#업데이트
import pymysql

db = pymysql.connect(host='localhost', port=3306, user='root', password='1234', db='mydb')

cursor = db.cursor()
sql = "UPDATE EMPLOYEE SET AGE = AGE + 1 WHERE SEX = '%c'" % ('M')
try:
    cursor.execute(sql)
    db.commit()
except:
    db.rollback()

db.close()

In [21]:
#작업 삭제
import pymysql

db = pymysql.connect(host='localhost', port=3306, user='root', password='1234', db='mydb')
sql = "DELETE FROM EMPLOYEE WHERE AGE > '%d'" % (20)
try:
    cursor.execute(sql)
    db.commit()
except:
    db.rollback()
db.close()

In [24]:
!pip install mysql

Collecting mysql
  Downloading mysql-0.0.2.tar.gz (1.9 kB)
Collecting mysqlclient
  Downloading mysqlclient-2.0.3-cp38-cp38-win_amd64.whl (179 kB)
Building wheels for collected packages: mysql
  Building wheel for mysql (setup.py): started
  Building wheel for mysql (setup.py): finished with status 'done'
  Created wheel for mysql: filename=mysql-0.0.2-py3-none-any.whl size=1252 sha256=8188d34aaaebe780846b0628183b2fe5563f6d29389c9415238021271b0d7bc9
  Stored in directory: c:\users\701\appdata\local\pip\cache\wheels\3e\4a\d0\506edab38d1bdf574b02c24805fcf7348a327297fcc285431d
Successfully built mysql
Installing collected packages: mysqlclient, mysql
Successfully installed mysql-0.0.2 mysqlclient-2.0.3

In [25]:
from tkinter import *
from  tkinter import  ttk

import mysql.connector

conn = mysql.connector.connect(host='localhost', port=3306, user='root', password='1234', db='mydb')


def register():
    
    name1=name.get()
    con1=contact.get()
    email1=email.get()
    gen1=gender.get()
    city1=city.get()
    state1=state.get()
   
    if name1=='' or con1==''or email1=='' or gen1==''or city1==''or state1=='':
        message.set("empty field")
    else:
       
       cursor = conn.cursor()
       
       insert_stmt = (
           "INSERT INTO REG(NAME, CONTACT, EMAIL, GENDER, CITY, STATE)"
           "VALUES (%s, %s, %s, %s, %s, %s)"
       )
    if gen1==1:
        data = (name1, con1,email1,"Male",city1,state1)
    else:
        data = (name1, con1, email1, "Female", city1, state1)
    try:
           
        cursor.execute(insert_stmt,data)
           
        conn.commit()
    except:
        conn.rollback()
        message.set("Stored successfully")


def Registrationform():
    global reg_screen
    reg_screen = Tk()
    
    reg_screen.title("Registration Form")
    
    reg_screen.geometry("350x400")
    
    global message;
    global name
    global contact
    global email
    global gender
    global city
    global state
    name = StringVar()
    contact = StringVar()
    email=StringVar()
    gender=IntVar()
    city=StringVar()
    state=StringVar()
    message=StringVar()
    
    Label(reg_screen,width="300", text="Please enter", bg="orange",fg="white").pack()
    
    Label(reg_screen, text="Name * ").place(x=20,y=40)
    
    Entry(reg_screen, textvariable=name).place(x=90,y=42)
    
    Label(reg_screen, text="Contact * ").place(x=20,y=80)
    
    Entry(reg_screen, textvariable=contact).place(x=90,y=82)

    
    Label(reg_screen, text="Email * ").place(x=20, y=120)
    
    Entry(reg_screen, textvariable=email).place(x=90, y=122)

    
    Label(reg_screen, text="Gender * ").place(x=20, y=160)
    
    Radiobutton(reg_screen,text="Male",variable=gender,value=1).place(x=90,y=162)
    Radiobutton(reg_screen, text="Female", variable=gender, value=2).place(x=150, y=162)

    
    Label(reg_screen, text="City * ").place(x=20, y=200)
    
    monthchoosen = ttk.Combobox(reg_screen, width=27, textvariable=city)
    monthchoosen['values'] = (' A',
                              ' B',
                              ' C',
                              ' D',
                              ' E',
                              ' F',
                              ' G',
                              ' H',
                              ' I',)
    monthchoosen.current()
    monthchoosen.place(x=90,y=202)

 
    Label(reg_screen, text="State * ").place(x=20, y=240)
    
    monthchoosen = ttk.Combobox(reg_screen, width=27, textvariable=state)
    monthchoosen['values'] = (' A',
                              ' B',
                              ' C',
                              ' D',
                              ' E',
                              ' F',)
    monthchoosen.current()
    monthchoosen.place(x=90, y=242)
  
    Label(reg_screen, text="",textvariable=message).place(x=95,y=264)
    
    Button(reg_screen, text="Register", width=10, height=1, bg="orange",command=register).place(x=105,y=300)
    reg_screen.mainloop()

Registrationform()

ModuleNotFoundError: No module named 'mysql'