In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('평균전세가격_아파트1.csv',encoding='cp949',header=10)

In [3]:
jeon=data[data['지 역']=='전국']
seoul=data[data['지 역']=='서울']
sejong=data[data['지 역']=='세종']

In [4]:
sejong

,지 역,Unnamed: 1,Unnamed: 2,2006년,2007년,2008년,2009년,2010년,2011년,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
83,세종,NaN,NaN,-,-,-,-,-,-,6204,8158,17004,37627,22996,33096,30294,21667,26273,1210