# 금융분석
 * 주식 시뮬레이션 1
 * 저가에 매수 고가에 매도
 * 데일리 트레이더- 일일 매매 전략
 * 오리온(주) 테스트

In [3]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup as bsp
import matplotlib as mpl
import matplotlib.pyplot as plt
import sqlite3

In [4]:
code=271560
pgno=2
url='https://finance.naver.com/item/sise_day.nhn?code={0}&page={1}'
tgurl=url.format(code,pgno)
tgurl

'https://finance.naver.com/item/sise_day.nhn?code=271560&page=2'

In [11]:
def getDB():
    dbname='stockdata.db'
    with sqlite3.connect(dbname) as conn:
        cur=conn.cursor()
        sql='select * from stockp order by skey asc'
        qry=cur.execute(sql)
        desc=qry.description
        data=qry.fetchall()
    return((desc,data))

In [13]:
res=getDB()
res[0]

(('sidx', None, None, None, None, None, None),
 ('skey', None, None, None, None, None, None),
 ('sday', None, None, None, None, None, None),
 ('sopen', None, None, None, None, None, None),
 ('shigh', None, None, None, None, None, None),
 ('slow', None, None, None, None, None, None),
 ('sclose', None, None, None, None, None, None),
 ('svol', None, None, None, None, None, None))

In [12]:

df=pd.DataFrame(res[1])
df.head()

     0         1           2      3      4      5      6        7
0  895  20170707  2017-07-07  87100  89700  75700  82300  1619864
1  894  20170710  2017-07-10  82300  88000  81000  88000   840451
2  893  20170711  2017-07-11  88000  88000  82700  82800   422303
3  892  20170712  2017-07-12  83700  84600  80000  83500   238407
4  891  20170713  2017-07-13  83400  84000  80800  81600   218138